.page_content {
  margin-top: 16px;
}

.top_bar_button {
  margin-top: 0.5em;
}

.contain-to-grid .top-bar {
  margin-bottom: 0em;
}

.user_score {
  font: bolder 16px;
  background: green;
  color: white;
}

.tag_profile {
  width: 9em;
  margin-bottom: 5px;
  background-color: #E03817;
  color: white;
}

.tag_howitworks {
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  padding: 0.1875em 0.625em 0.25em;
  font-size: 0.875em;
  background-color: #E03817;
  color: white; 
}

.profile {
  padding-top: 0em;
  padding-bottom: 0em;
}

.feed_sub_nav {
  margin-top: 1em;
}

.userprofile_name {
  color: #111111;
}

.profile_flw_btn {
  margin-left: 2em;
}

.profile_unflw_btn {
  margin-left: 2em;
  display: none;
}

.label_link a {
  color: white;
}

.edit_profile {
  font-size: 10px;
}

.mini_profile_username {
  font-weight: bold;
  padding-bottom: 5px;
}

.no_padding_left {
  padding-left: 0px;
}

.profile_avatar {
  border-radius: 8px;
}

.hipme_site_stats li {
  font-style: italic;
  font-size: 12px;
}

.panel {
  background: #E5E5E5;
  color: #263248;
  border: none;
}

.panel h5 {
  color: #263248;
}

.coul {
  border: solid 1px fuchsia;
}