.top_line_grey {
  border-top: 5px solid #444444;
}

.top_line_green {
  border-top: 5px solid #00D9AE;
}

.top_line_yellow {
  border-top: 5px solid #EEB300;
}

.top_line_red {
  border-top: 5px solid #EE403F;
}

.mixtape {
  background-color: #DDDDDD;
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  margin-top: 1.375em;
  margin-bottom: 1.375em;
}

.mixtape_header {
}

.mixtape_header a {
  color: #444444;
}

.mixtape_info {
  margin-left: -1.25em;
  margin-bottom: 0.5em;
  background-color: white;
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  padding-left: 1.25em;
}

.mixtape_title {
  font-size: 1.5em;
}

.mixtape_tag_list {
  margin-left: -1.2em;
  margin-top: 0.2em;
}

.tag_mixtape {
  margin-bottom: 5px;
  color: #444444;
}

.mixtape_summary {
  background-color: white;
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  padding-left: 0.5em;
}

.mixtape_header_owner {
  display: inline-block;
}

.mixtape_header_contributors {
  display: inline-block;
  margin-bottom: -6px;
  margin-left: -2.85em;
}

.mixtape_featuring {
  font-size: 12px;
  font-style: italic;
  display: inline-block;
  margin-left: -2em;
}

.display_tracks_btn {
  height: 65px;
  margin-bottom: 0px;
}