.mixtape_anchor {
  display: block;
  position: relative; 
  top: -125px;
}

.top_line_grey {
  border-top: 5px solid #444444;
}

.top_line_green {
  border-top: 5px solid #00d9ae;
}

.top_line_yellow {
  border-top: 5px solid #EEB300;
}

.mixtape {
  background-color: #e6e6e6;
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  margin-top: 0.5em;
  margin-bottom: 1.375em;
}

.mixtape_header {
  min-height: 110px;
}

.mixtape_header a {
  color: #444444;
}

.mixtape_info {
  margin-left: -1.25em;
  background-color: #FAFAFA;
  font-size: 12px;
  font-style: italic;
  padding-left: 1.25em;
  padding-top: 0.25em;
  padding-right: 1.25em;
  padding-bottom: 0.25em;
}

.mixtape_edit_info {
  margin-left: -1.0em;
  background-color: #FAFAFA;
  font-size: 16px;
  font-style: italic;
  padding-left: 1.25em;
  padding-top: 0.25em;
  padding-right: 1.25em;
  padding-bottom: 0.25em;
}

.mixtape_title_and_owner {
  margin-top: 14px;
  margin-bottom: 8px;
  line-height: 2em;
}

.mixtape_title {
  font-size: 2em;
}

.mixtape_owner {
  font-size: 1em;
  white-space: nowrap;
}

.mixtape_tag_list {
  margin-left: -1.2em;
  margin-top: 0.2em;
}

.tag_mixtape {
  margin-bottom: 5px;
  color: #444444;
}

.like_btn_form {
  margin-bottom: 0px;
}

.unlike_mxtp_btn {
  display: none;
}

.like_mxtp_stats {
  font-weight: bold;
}

.mixtape_summary {
  margin-bottom: 3px;
  background-color: #FAFAFA;
  padding-top: 18px;
}

.mixtape_header_owner {
  display: inline-block;
}

.mixtape_header_contributors {
  display: inline-block;
  margin-bottom: -6px;
  margin-left: -33px;
}

.mixtape_header_contributors li {
  margin-left: 10px;
}

.mixtape_featuring {
  font-size: 12px;
  font-style: italic;
  display: inline-block;
  margin-left: -2em;
}

.display_tracks_btn_zone {
  margin-bottom: 18px;
}

.display_tracks_btn {
  height: 82px;
  margin-bottom: 0px;
}

.display_tracks_btn_disabled {
  height: 82px;
  margin-bottom: 0px;
}

.hide_tracks_btn_zone {
  display: none;
  margin-bottom: 18px;
}

.hide_tracks_btn {
  height: 82px;
  margin-bottom: 0px;
}

.show_add_track_form_btn_zone {
  display: none;
}

.count_add_track_form_btn {
  height: 82px;
  margin-bottom: 0px;
}

.mixtape_add_track_info {
  display: none;
  font-weight: bold;
}

.mixtape_add_track_form_zone {
  display: none;
}

.mixtape_add_track_form {
  padding: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.bundle_list {
  display: none;
  margin-left: 0px;
}

.mixtape_bundle {
  height: 124px;
  margin-bottom: 1px;
  background-color: #FAFAFA;
}

.mixtape_bundlego {
  height: 124px;
  margin-bottom: 3px;
  background-color: #FAFAFA;
}

.mixtape_edit_bundlego {
  height: 124px;
  margin-bottom: 3px;
  margin-top: 10px;
  background-color: #FAFAFA;
}

.bundle_profile {
  margin-top: 32px;
}

.bundle_tracklist_1 {
  margin-top: 44px;
}

.bundle_tracklist_2 {
  margin-top: 30px;
}

.bundle_tracklist_3 {
  margin-top: 14px;
}

.track_container {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 3px;
  padding-bottom: 3px;
}

.track_container_no_border-bottom {
  border-bottom: none;
}

.track_container_is_playing {
  font-weight: bold;
}

.track {
  height: 25px;
  padding-top: 3px;
  font-size: 12px;
  overflow: hidden;
}

.track_edit {
  height: 40px;
  padding-top: 3px;
  font-size: 14px;
  overflow: hidden;
}

.site_from_icon {
  margin-bottom: 2px;  
}

.track_play_btn {
  margin-bottom: 2px;
}

/*.track_pause_btn {
  display: none;
  margin-bottom: 2px;
}*/

.track_text {
  margin-left: 5px;
}

.select_track_form {
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
}

.keep_track_btn {
  margin: 0px;
  padding: 0px;
}

.kept_track_btn {
  margin: 0px;
  padding: 0px;
}

.unkeep_track_btn {
  display: none;
  margin: 0px;
  padding: 0px;
}

.close_mixtape_zone {
  background-color: #FAFAFA;
  padding-top: 18px;
}

.close_mixtape_info {
  display: none;
  margin-bottom: 18px;
}

.close_mixtape_form_zone {
  display: none;
}

.close_mixtape_form {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Dropup */

.dropup.button {
  position: relative;
  padding-right: 3.1875em; }
  .dropup.button:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-color: transparent transparent white transparent;
    top: 50%; }
  .dropup.button:before {
    border-width: 0.5625em;
    right: 1.5em;
    margin-top: -0.85em; }
  .dropup.button:before {
    border-color: transparent transparent white transparent; }
  .dropup.button.tiny {
    padding-right: 2.1875em; }
    .dropup.button.tiny:before {
      border-width: 0.4375em;
      right: 0.875em;
      margin-top: -0.15625em; }
    .dropup.button.tiny:before {
      border-color: transparent transparent white transparent; }
  .dropup.button.small {
    padding-right: 2.8125em; }
    .dropup.button.small:before {
      border-width: 0.5625em;
      right: 1.125em;
      margin-top: -0.7em; }
    .dropup.button.small:before {
      border-color: transparent transparent white transparent; }
  .dropup.button.large {
    padding-right: 4em; }
    .dropup.button.large:before {
      border-width: 0.625em;
      right: 1.75em;
      margin-top: -0.3125em; }
    .dropup.button.large:before {
      border-color: transparent transparent white transparent; }
  .dropup.button.secondary:before {
    border-color: transparent transparent #333333 transparent; }