.left_nav {
	margin-top: 22px;
}

/*

.left_ranking_opacity_med {
	opacity: 0.75;
}

.left_ranking_opacity_low {
	opacity: 0.35;
}

*/

.left_ranking {
	margin-top: 23px;
}

.left_ranking li {
	background-color: #F6F6F6;
	border-bottom: 3px solid white;
	padding-top: 0.5em;
	padding-bottom: 0.5em;	
}

.full_ranking_link {
	font-size: 0.8em;
}

.hipme_site_stats {
  background-color: #F6F6F6;
  padding-top: 10px;
}

.hipme_site_stats li {
  font-style: italic;
  font-size: 12px;
}