@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('Graublau Web Regular'), local('Graublau Web'),
    url("GraublauWeb.woff") format("woff"),
    url("GraublauWeb.otf") format("opentype"),
    url("GraublauWeb.svg#grablau") format("svg");
}

body {
      font-family: 'Graublau Web', Fallback, sans-serif;
}

a {
  color: #444444;
}

.page_content {
  margin-top: 16px;
}

.top_bar_button {
  margin-top: 0.5em;
}

.contain-to-grid .top-bar {
  margin-bottom: 0em;
}

.tag_profile {
  width: 9em;
  margin-bottom: 5px;
  background-color: #ee403f;
  color: white;
}

.tag_howitworks {
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  padding: 0.1875em 0.625em 0.25em;
  font-size: 0.875em;
  background-color: #E03817;
  color: white; 
}

.profile {
  padding-top: 0em;
  padding-bottom: 0em;
}

.feed_sub_nav {
  margin-top: 1em;
}

.userprofile_name {
  color: #111111;
}

.profile_flw_btn {
  margin-left: 2em;
}

.profile_flwd_btn {
  margin-left: 2em;
}

.profile_unflw_btn {
  display: none;
  margin-left: 2em;
}

.label_link a {
  color: white;
}

.edit_profile {
  font-size: 10px;
}

.mini_profile_username {
  color: black;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 3px;
}

.no_padding_left {
  padding-left: 0px;
}

.profile_avatar {
  border-radius: 8px;
}

.hipme_site_stats li {
  font-style: italic;
  font-size: 12px;
}

.panel {
  background: #E5E5E5;
  color: #263248;
  border: none;
}

.panel h5 {
  color: #263248;
}



.coul {
  border: solid 1px fuchsia;
}