.sign_up_legend {
  font-size: 32px;
}

.landing_content {
  margin-top: 70px;
  margin-bottom: 5em;
}

.landing_logo {
	margin-top: 3em;
}

.landing_hide {
	display: none;
}

.login_error {
	margin-top: 20px;
}