.sign_up_legend {
  font-size: 32px;
}

.landing_content {
  margin-top: 70px;
  margin-bottom: 5em;
}

.landing_form_temp{
  margin-top: 80px;
}

.landing_logo {
	margin-top: 3em;
}

.landing_hide {
	display: none;
}

.login_error {
	margin-top: 20px;
}

.tag_howitworks {
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  padding: 0.1875em 0.625em 0.25em;
  font-size: 0.875em;
  background-color: #ee403f;
  color: white; 
}

.tag_howitworksgreen {
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  padding: 0.1875em 0.625em 0.25em;
  font-size: 0.875em;
  background-color: #00d9ae;
  color: white; 
}