.top_line_grey {
  border-top: 5px solid #444444;
}

.top_line_green {
  border-top: 5px solid #00D9AE;
}

.top_line_yellow {
  border-top: 5px solid #EEB300;
}

.top_line_red {
  border-top: 5px solid #EE403F;
}

.mixtape {
  background-color: #DDDDDD;
  padding-top: 0.875em;
  padding-bottom: 0.875em;
  margin-top: 1.375em;
  margin-bottom: 1.375em;
}

.mixtape_header {
}

.mixtape_header a {
  color: #444444;
}

.mixtape_info {
  margin-left: -1.25em;
  margin-bottom: 0.5em;
  background-color: #FAFAFA;
  font-size: 12px;
  font-style: italic;
  padding-left: 1.25em;
}

.mixtape_title {
  font-size: 2em;
}

.mixtape_tag_list {
  margin-left: -1.2em;
  margin-top: 0.2em;
}

.tag_mixtape {
  margin-bottom: 5px;
  color: #444444;
}

.mixtape_summary {
/*  height: 124px;*/
  margin-bottom: 3px;
  background-color: white;
  padding-top: 18px;
}

.mixtape_header_owner {
  display: inline-block;
}

.mixtape_header_contributors {
  display: inline-block;
  margin-bottom: -6px;
  margin-left: -33px;
}

.mixtape_header_contributors li {
  margin-left: 10px;
}

.mixtape_featuring {
  font-size: 12px;
  font-style: italic;
  display: inline-block;
  margin-left: -2em;
}

.display_tracks_btn_zone {
  margin-bottom: 18px;
}

.display_tracks_btn {
  height: 82px;
  margin-bottom: 0px;
}

.hide_tracks_btn_zone {
  display: none;
  margin-bottom: 18px;
}

.hide_tracks_btn {
  height: 82px;
  margin-bottom: 0px;
}

.show_add_track_form_btn_zone {
  display: none;
}

.show_add_track_form_btn {
  height: 82px;
  margin-bottom: 0px;
}

.mixtape_add_track_info {
  display: none;
}

.mixtape_add_track_form_zone {
  display: none;
}

.mixtape_add_track_form {
  padding: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.nooo {
  padding: 0em;
}

.bundle_list {
  display: none;
  margin-left: 0px;
}

.mixtape_bundle {
  height: 124px;
  margin-bottom: 1px;
  background-color: #FAFAFA;
}

.bundle_profile {
  margin-top: 32px;
}

/* Mini-profiles */

.mini_profile_avatar {
  display: inline-block;
  width: 60px;
  margin-right: 10px;
  margin-left: 10px;
}

.mini_profile_right_section {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}

.mini_profile_username {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.mini_profile_score_icon {
  margin-left: 10px;
}

.mini_profile_score {
  font-size: 12px;
  font-weight: bold;
  color: #444444;
  margin-left: 10px;
}

/* End mini-profiles */

.bundle_tracklist_0 {
}

.bundle_tracklist_1 {
  margin-top: 44px;
}

.bundle_tracklist_2 {
  margin-top: 30px;
}

.bundle_tracklist_3 {
  margin-top: 14px;
}

.track_container {
  border-bottom: 1px solid #DDDDDD;
  padding-top: 3px;
  padding-bottom: 3px;
}

.track_container_no_border-bottom {
  border-bottom: none;
}

.track {
  padding-top: 3px;
  font-size: 12px;
}

.track_play_btn {
  margin-bottom: 2px;
}

.track_text {
  margin-left: 5px;
}

.select_track_form {
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
}

.keep_track_btn {
  margin: 0px;
  padding: 0px;
}

.kept_track_btn {
  margin: 0px;
  padding: 0px;
}

.unkeep_track_btn {
  display: none;
  margin: 0px;
  padding: 0px;
}