.left_profile a {
  color: #263248;
}

.left_profile_top {
  padding-bottom: 20px;
}

.left_profile_link {
  font-size: 12px;
}

.left_profile_stats {
  padding-bottom: 20px;
  padding-left: 10px;
}

.left_profile_username {
}