.left_ranking_opacity_med {
	opacity: 0.75;
}

.left_ranking_opacity_low {
	opacity: 0.35;
}

.left_ranking_1 {
	border-bottom: 1px solid gray;
	padding-bottom: 0.5em;	
}

.left_ranking_2 {
	border-bottom: 1px solid gray;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.left_ranking_3 {
	border-bottom: 1px solid gray;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.left_ranking_4 {
	border-bottom: 1px solid gray;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.left_ranking_5 {
	padding-top: 0.5em;
}

.full_ranking_link {
	font-size: 0.8em;
}