.mixtape_add_track_form {
  display:none;
}

.page_content {
  margin-top: 16px;
}

.row {
  max-width: 100%;
}

.hipme_left_profile a {
  color: #EEEEEE;
}

.mixtape_small_list {
  display: inline;
}

.mixtape {
  margin-top: 2em;
  margin-bottom: 1em;
}

.mixtape_header {
  /*background-color: #600606;*/
/*  background-color: #892929;*/
/*  background-color: #3F99F3;*/
  background-color: #9FCADF;
  padding: 0.5em;
}

.mixtape_header h4 {
  color: #EEEEEE;
}

.mixtape_tracklist {
  padding: 1em;
  padding-bottom: 0em;
  border-left: 1em solid #9FCADF;
}

.bundle {
  margin-bottom: 1em;
}

.mixtape_track {
  font-size: 1em;
}

.toggle_comment_zone_btn {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.mixtape_comment_zone_toggle {
  background-color: #9FCADF;
}

.mixtape_comment_container {
  display: none;
}

.mixtape_comment_zone {
  background-color: white;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}

.comment_form {
  padding-bottom: 0em;
}

.mixtape_user {
  padding-left: 0;
}

.mixtape_user img {
  padding: 0em;
}

.mixtape_info_time {
  margin-top: 1.2em;
}

.mixtape_info_spots {
  margin-top: 0.8em;
}

.mixtape_user_zone {
  padding-bottom: 1em;
}

.user_score {
  font: bolder 16px;
  background: green;
  color: white;
}

.mixtape_score {
  font: bolder 16px;
  background: yellow;
  color: black;
}

.tag {
  margin-bottom: 5px;
}

.track {
  background-color: #EEEEEE;
  color: #222222;
  font-size: 16px;
}

.profile {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0em;
  padding-bottom: 0em;
}

.comment_zone {
  background-color: #EEEEEE;
}

.userprofile {
  padding-top: 16px;
  background-color: #EEEEEE;
}

.userprofile_name {
  color: #111111;
}

.label_link a {
  color: white;
}

.edit_profile {
  font-size: 10px;
}

.mini_mixtape {
  padding: 10px;
  background-color: #99AADD;
  border-radius: 10px;
  margin-bottom: 10px;
}

.mini_profile_top {
  padding-bottom: 20px;
}

.mini_profile_username {
  font-weight: bold;
  padding-bottom: 5px;
}

.mini_profile_links {
  font-size: 12px;
}

.mini_profile_stats {
  padding-bottom: 20px;
  padding-left: 10px;
}

.no_padding_left {
  padding-left: 0px;
}

.profile_avatar {
  border-radius: 8px;
}

.score {
  background-color: #FF94B8;
  color: #111111;
  font-size: 18px;
}

.tag {
  background-color: #94B8FF;
}

.user_sub_nav dd {
  margin-right: 1em;
}

.tag_list {
  margin-left: 0px;
}

.hipme_stats li {
  font-style: italic;
  font-size: 12px;
}

.panel {
  background: #003F66;
  color: #EEEEEE;
  border: none;
}

.panel h5 {
  color: #EEEEEE;
}

.search_button {
  background: #063360;
  border: none;
}
