.page_content {
  margin-top: 16px;
}

.row {
  max-width: 100%;
}

.hipme_left_profile a {
  color: #EEEEEE;
}

.mixtape_small_list {
  display: inline;
}

.mixtape_header {
  background-color: #EEEEEE;

}

.mixtape_info {
  font-style: italic;
}

.mixtape_user {
  font-size: 12px;
  padding-left: 0;
}

.tag {
  margin-bottom: 5px;
}

.track {
  background-color: #EEEEEE;
  color: #222222;
  font-size: 16px;
}

.comment_zone {
  background-color: #EEEEEE;
}

.userprofile {
  padding-top: 16px;
  background-color: #EEEEEE;
}

.userprofile_name {
  color: #111111;
}

 .label_link a {
  color: white;
}

.edit_profile {
  font-size: 10px;
}

.mini_mixtape {
  padding: 10px;
  background-color: #99AADD;
  border-radius: 10px;
  margin-bottom: 10px;
}

.mini_profile_top {
  padding-bottom: 20px;
}

.mini_profile_avatar {
  padding-left: 0px;
}

.mini_profile_username {
  font-weight: bold;
  padding-bottom: 5px;
}

.mini_profile_links {
  font-size: 12px;
}

.mini_profile_stats {
  padding-bottom: 20px;
  padding-left: 10px;
}

.no_padding_left {
  padding-left: 0px;
}

.feed_nav_top {
  font-size: 20px;
  padding-left: 32px;
}

.profile_avatar {
  border-radius: 8px;
}

.score {
  background-color: #FF94B8;
  color: #111111;
  font-size: 18px;
}

.tag {
  background-color: #94B8FF;
}

.user_nav li a {
  background-color: #BBBBFF;
  color: #111111;
}

.user_nav li a.active {
  background-color: #8888FF;
  color: #111111;
}

.user_sub_nav dd {
  margin-right: 1em;
}

.tag_list {
  margin-left: 0px;
}

.hipme_stats li {
  font-style: italic;
  font-size: 12px;
}

.panel {
  background: #063360;
  color: #EEEEEE;
  border: none;
}

.panel h5 {
  color: #EEEEEE;
}

.search_button {
  background: #063360;
  border: none;
}