{% extends "hip_engine/landing_page.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="row landing_content">
<h4>Forgot password?</h4>
<form action="" method="post">
  <fieldset>
    <legend>Please specify your email address to receive instructions for resetting it.</legend>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    <div class="row">
      <div class="small-8 columns">
        {{ form.email.errors }}
        {{ form.email }}
      </div>
      <div class="small-4 columns">
        <input type="submit" class="button postfix" value="Reset password"/>
      </div>
  </fieldset>
</form>
</div>
{% endblock %}