<!DOCTYPE html>
{% load analytics %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> hipMe! </title>
  <link rel="icon" type="image/jpg" href="{% static "img/hipme_favicon.jpg"}" />

  <!-- Included CSS Files -->

  {% load staticfiles %}

  <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_general.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_mixtape.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_mixtape_form.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_left_nav.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_profiles.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_landing.css" %}"/>
  <link rel="stylesheet" href="{% static "css/select2.css" %}"/>

</head>

<body>

  <!-- Header and Nav -->

<div class="fixed contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name" id="site_title">
        <h1><a href="/feed/"> hipMe! </a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li id="nav_stream">
          <a href="/feed/"> Stream </a>
        </li>
        <li class="divider"></li>
        <li class="has-form"><button id="nav_new_mxtp" class="small top_bar_button" data-reveal-id="tracklistModal"> New Mixtape </button></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li id="nav_profile">
          <a href="/profile/{{ request.user.username }}/"> 
            {% if request.user.get_profile.avatar %}
              <img src="{{MEDIA_URL}}{{ request.user.get_profile.avatar.name }}" alt="profile_top_img" class="profile_top_img" width="32"/>
            {% else %}
              <img src="{{MEDIA_URL}}profile_pics/default.jpg" alt="profile_top_img" class="profile_top_img" width="32"/>
            {% endif %}
            {{ request.user.username }}
          </a>
        </li>
        <li class="divider"></li>
        <li class="has-form">
          <form action="/search/" method="get">
            <div class="row collapse">
              <div id="nav_search_bar" class="small-8 columns">
                <input type="text" name="q">
              </div>
              <div class="small-4 columns">
                <input type="submit" class="button" value="Search">
              </div>
            </div>
          </form>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown"><a href="#"> More </a>
          <ul class="dropdown">
            <li><a href="/profile/{{request.user}}/edit"> Edit profile </a></li>
            <li><a id="exp_tour_link"> Explanatory tour </a></li>
            <li><a data-reveal-id="rulesModal"> Rules </a></li>
            <li><a href="/logout/process/"> Log out </a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>

  <!-- End Header and Nav -->

<div class="row page_content">

  <!-- Left nav -->
    
    <div class="small-3 columns left_nav">

      <!-- YouTube Player -->

      <div id="player"></div>

      <!-- SoundCloud Player -->

      <iframe id="sc-widget" width="220" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=true"></iframe>

      <!-- Player Controls -->

      <div id="hipme_player_controls" class="text-center">
        <a id="hipme_player_previous" onClick="hipmePrevious()">
          <img src="{% static "img/icons/backward_green.png" %}" width="32px"/>
        </a>
        <a id="hipme_player_next" onClick="hipmeNext()">
          <img src="{% static "img/icons/forward_green.png" %}" width="32px"/>
        </a>
      </div>

    <!-- Left-ranking -->

      <div class="small-12 columns">
        <div class="row">
          <ul class="no-bullet left_ranking">
            {% for profile in ranking_profile_list %}
            <li>
              <div class="row">
                <div class="small-12 columns">
                {% include "hip_engine/snippet_mini_profile_ranking.html" %}
                </div>
              </div>
            </li>
            {% endfor %}
            <li>
              <div class="row">
                <div class="small-12 columns text-center full_ranking_link_zone">
                  <a id="full_ranking_link" href="/profile/{{request.user}}/rankings/" class="full_ranking_link"> See full ranking </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

        <!-- End Left-ranking -->

        <!-- Left Feedback Button -->

        <div class="small-12 columns hipme_feedback_btn">
          <button id="feedback_btn" class="button expand" data-reveal-id="feedbackModal"><img src="{% static "img/icons/comment_white.png" %}" width="24px" />&nbspWe love feedback!</button>
        </div>

        <!-- End Left Feedback Button -->

        <!-- Left stats -->

        <div class="small-12 columns hipme_site_stats">
          <h5> hipMe! </h5>
          <ul class="no-bullet">
            <li> {{nb_mixtapes}} mixtapes created </li>
            <li> {{nb_users}} registered users </li>
            <li> {{nb_tracks}} songs discovered </li>
            <li> Keep da hip... </li>
          </ul>
        </div>

        <!-- End Left stats -->

    </div>

  <!-- End left nav -->

  <!-- Main Feed -->

  <div class="small-9 columns">

  {% if error_message_userto %}
    <div data-alert class="alert-box alert top_feed_alert">
      {{error_message_userto}}
      <a href="#" class="close">&times;</a>
    </div>
  {% endif %}

  {% if error_message_url %}
    <div data-alert class="alert-box alert top_feed_alert">
      {{error_message_url}}
      <a href="#" class="close">&times;</a>
    </div>
  {% endif %}


    {% block feed_header %}
    {% endblock feed_header %}

    {% block feed_nav %}
    {% endblock feed_nav %}

    {% block main_feed %}
    {% endblock main_feed %}

  </div>

  <!-- End Main Feed -->

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright HipMe.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Feedback modal -->

  <div id="feedbackModal" class="reveal-modal small">
    <div class="row">
      <div class="small-12 columns feedback_title">
        <h3> Go ahead, get cranky. </h3>
      </div>
    </div>
    <form class="custom" action="/feedback/" method="post">
    {% csrf_token %}
      <div class="row">
        <div class="small-8 columns">
          <textarea name="body" id="feedback_text" placeholder="What's the problem?" maxlength="1000"></textarea>
        </div>
        <div class="small-4 columns">
          <label for="feedback_bug">
            <input name="kind" type="radio" value="bug" id="feedback_bug" style="display:none;" CHECKED>
            <span class="custom radio"></span>
            Bug
          </label>
          <label for="feedback_suggestion">
            <input name="kind" type="radio" value="suggestion" id="feedback_suggestion" style="display:none;">
            <span class="custom radio"></span>
            Suggestion
          </label>
          <label for="feedback_question">
            <input name="kind" type="radio" value="question" id="feedback_question" style="display:none;">
            <span class="custom radio"></span>
            Question
          </label>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns feedback_submit">
          <input name="next" type="hidden" value="{{request.get_full_path}}" />
          <input class="button expand" id="report_submit" type="submit" value="Thanks!" />
        </div>
      </div>
    </form>
    <a class="close-reveal-modal"> &#215; </a>
  </div>

  <!-- Joyride -->

  <ol class="joyride-list" data-joyride id="hipme_joyride">
    <li data-text="Next">
      <br/>
      <h4> Welcome to hipMe, the social game for music discovery. </h4>
      <br/>
      <p> We're going to show you what's there for you. Keep clicking. </p>
      <br/>
    </li>
    <li data-id="nav_stream" data-text="Next">
      <br/>
      <p> The page you're on is your stream. It shows the latest activity of all the people you follow. </p>
      <br/>
    </li>
    <li data-id="nav_new_mxtp" data-text="Next">
      <br/>
      <p> Click this button anytime to create a new mixtape. The best way to discover cool music ever. </p>
      <br/>
    </li>
    <li data-id="nav_profile" data-text="Next">
      <br/>
      <p> This goes to your profile page, where you'll find all your activity and the mixtapes you liked. </p>
      <br/>
    </li>
    <li data-id="nav_search_bar" data-text="Next">
      <br/>
      <p> Use the search bar to find people and follow them. That'll allow you to see what they do, ask them to contribute to your mixtapes and contribute to theirs. </p>
      <br/>
    </li>
    <li data-id="player" data-text="Next">
      <br/>
      <p> When you listen to a mixtape, the player appears here. How great is that? </p>
      <br/>
    </li>
    <li data-id="full_ranking_link" data-text="Next">
      <br/>
      <p> Here you'll get an idea of how you rank among your friends. Click the link to get the full picture. </p>
      <br/>
    </li>
    <li data-id="feedback_btn" data-text="Next">
      <br/>
      <p> This is a beta version. Please give us feedback: bugs, questions, suggestions, basically anything. Just click this button. </p>
      <br/>
    </li>
    <li data-text="Close">
      <br/>
      <p> No go play, you fool. First, follow a few people, then create your first mixtape! </p>
      <br/>
      <p> If you want to take this tour again, click the "More" button (top-right corner) and select "Explanatory tour". You'll also find the precise rules of the game there. </p>
      <br/>
      <p> But first, click the "More" button and log out, then log in again, so that this tour does not show again. </p>
      <br/>
    </li>
  </ol>

</div>

  {% include "hip_engine/snippet_form/snippet_form_tracklist.html" %}
  {% include "hip_engine/snippet_form/snippet_form_close_mixtape.html" %}
  {% include "hip_engine/snippet_rules.html" %}

<!-- End Body Content -->

<!-- SCRIPTS -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

  <script>
    document.write('<script src={% static "js/vendor/" %}' +
    ('__proto__' in {} ? 'zepto' : 'jquery') +
    '.js><\/script>')
  </script>

  <script src="{% static "js/foundation.min.js" %}"></script>
  
  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

  {% comment %} <script type="text/javascript" src="{% static 'js/jquery-1.4.1.js' %}"></script> {% endcomment %}

  <script src="{% static "js/select2.js" %}"></script>

  <script>
    $(document).ready(function() {
      $("#contribSelect").select2({
        width: 'resolve',
        placeholder: "Type and find!",
        allowClear: true,
        maximumSelectionSize: 5
      });
    });
  </script>

  <script src="https://w.soundcloud.com/player/api.js"></script>

<!-- scripts mixtape creation modal-->

  <script>
    $('.add_track_btn_1').click(function(){
      $(".add_track_form_1").show();
      $(".add_track_row_1").hide();
      $("#create_url_1").focus();
    });
  </script>

  <script>
    $('.add_track_btn_2').click(function(){
      $(".add_track_form_2").show();
      $(".add_track_row_2").hide();
      $("#create_url_2").focus();
    });
  </script>

  <script>
    $('.add_track_btn_3').click(function(){
      $(".add_track_form_3").show();
      $(".add_track_row_3").hide();
      $("#create_url_3").focus();
    });
  </script>

  <script>
    $('.add_track_cancel_1').click(function(){
      $(".add_track_form_1").hide();
      $(".add_track_row_1").show();
      document.getElementById('create_url_1').value = '';
      document.getElementById('create_artist_1').value = '';
      document.getElementById('create_track_1').value = '';
    });
  </script>

  <script>
    $('.add_track_cancel_2').click(function(){
      $(".add_track_form_2").hide();
      $(".add_track_row_2").show();
      document.getElementById('create_url_2').value = '';
      document.getElementById('create_artist_2').value = '';
      document.getElementById('create_track_2').value = '';
    });
  </script>

  <script>
    $('.add_track_cancel_3').click(function(){
      $(".add_track_form_3").hide();
      $(".add_track_row_3").show();
      document.getElementById('create_url_3').value = '';
      document.getElementById('create_artist_3').value = '';
      document.getElementById('create_track_3').value = '';
    });
  </script>

  <script>
    $('.exit_mixtape_creation_form').click(function(){
      document.getElementById('create_title').value = '';
      document.getElementById('create_tags').value = '';
      document.getElementById('create_url_1').value = '';
      document.getElementById('create_artist_1').value = '';
      document.getElementById('create_track_1').value = '';
      document.getElementById('create_url_2').value = '';
      document.getElementById('create_artist_2').value = '';
      document.getElementById('create_track_2').value = '';
      document.getElementById('create_url_3').value = '';
      document.getElementById('create_artist_3').value = '';
      document.getElementById('create_track_3').value = '';
      $(".add_track_form_1").hide();
      $(".add_track_form_2").hide();
      $(".add_track_form_3").hide();
      $(".add_track_row_1").show();
      $(".add_track_row_2").show();
      $(".add_track_row_3").show();
    });
  </script>

<!-- scripts mixtape game -->

 <script>
    $('.liked_mxtp_btn').each(function(i){
      $(this).mouseover(function(){
        $(".liked_mxtp_btn:eq("+ i + ")").hide();
        $(".unlike_mxtp_btn:eq("+ i + ")").show();
      });
    });
  </script>

   <script>
    $('.unlike_mxtp_btn').each(function(i){
      $(this).mouseout(function(){
        $(".unlike_mxtp_btn:eq("+ i + ")").hide();
        $(".liked_mxtp_btn:eq("+ i + ")").show();
      });
    });
  </script>


 <script>
    $('.kept_track_btn').each(function(i){
      $(this).mouseover(function(){
        $(".kept_track_btn:eq("+ i + ")").hide();
        $(".unkeep_track_btn:eq("+ i + ")").show();
      });
    });
  </script>

 <script>
    $('.unkeep_track_btn').each(function(i){
      $(this).mouseout(function(){
        $(".kept_track_btn:eq("+ i + ")").show();
        $(".unkeep_track_btn:eq("+ i + ")").hide();
      });
    });
  </script>

  <script>
    $('.display_tracks_btn').each(function(i){
      $(this).click(function(){
        $(".mixtape_header_owner:eq("+ i + ")").hide();
        $(".mixtape_header_contributors_and_featuring:eq("+ i + ")").hide();
        $(".display_tracks_btn_zone:eq("+ i + ")").hide();
        $(".show_add_track_form_btn_zone:eq("+ i + ")").show();
        $(".hide_tracks_btn_zone:eq("+ i + ")").show();
        $(".bundle_list:eq("+ i + ")").show();
      });
    });
  </script>

  <script>
    $('.hide_tracks_btn').each(function(i){
      $(this).click(function(){
        $(".show_add_track_form_btn_zone:eq("+ i + ")").hide();
        $(".hide_tracks_btn_zone:eq("+ i + ")").hide();
        $(".bundle_list:eq("+ i + ")").hide();
        $(".mixtape_header_owner:eq("+ i + ")").show();
        $(".mixtape_header_contributors_and_featuring:eq("+ i + ")").show();
        $(".display_tracks_btn_zone:eq("+ i + ")").show();
      });
    });
  </script>

  <script>
    $('.count_add_track_form_btn').each(function(i){
      if ($(".count_add_track_form_btn:eq("+ i + ")").hasClass('show_add_track_form_btn')) {
        $(this).click(function(){
          $(".show_add_track_form_btn_zone:eq("+ i + ")").hide();
          $(".hide_tracks_btn_zone:eq("+ i + ")").hide();
          $(".mixtape_add_track_info:eq("+ i + ")").show();
          $(".mixtape_add_track_form_zone:eq("+ i + ")").show();
          $("#input_url").focus();
        });
      }
    });
  </script>

  <script>
    $('.mixtape_add_track_cancel').each(function(i){
      $(this).click(function(){
        $(".mixtape_add_track_info:eq("+ i + ")").hide();
        $(".mixtape_add_track_form_zone:eq("+ i + ")").hide();
        $(".show_add_track_form_btn_zone:eq("+ i + ")").show();
        $(".hide_tracks_btn_zone:eq("+ i + ")").show();
      });
    });
  </script>

  <script>
  //   $('.track_play_btn').each(function(i){
  //     $(this).click(function(){
  //       $(".track_pause_btn").hide();
  //       $(".track_play_btn").show();
  //       $(".track_container").removeClass('track_container_is_playing');
  //       $(".track_play_btn:eq("+ i + ")").hide();
  //       $(".track_pause_btn:eq("+ i + ")").show();
  //       $(".track_container:eq("+ i + ")").addClass('track_container_is_playing');
  //     });
  //   });
  </script>

  <script>
  //   $('.track_pause_btn').each(function(i){
  //     $(this).click(function(){
  //       $(".track_pause_btn:eq("+ i + ")").hide();
  //       $(".track_play_btn:eq("+ i + ")").show();
  //       $(".track_container:eq("+ i + ")").removeClass('track_container_is_playing');
  //     });
  //   });
  </script>

  <script>
    $('.close_mixtape_btn_1').each(function(i){
      $(this).click(function(){
        $(".close_mixtape_btn_1:eq("+ i + ")").hide();
        $(".close_mixtape_info:eq("+ i + ")").show();
        $(".close_mixtape_form_zone:eq("+ i + ")").show();
      });
    });
  </script>

  <script>
    $('.close_mixtape_cancel_btn').each(function(i){
      $(this).click(function(){
        $(".close_mixtape_btn_1:eq("+ i + ")").show();
        $(".close_mixtape_info:eq("+ i + ")").hide();
        $(".close_mixtape_form_zone:eq("+ i + ")").hide();
      });
    });
  </script>

<!-- scripts profile -->

  <script>
    $('.profile_flwd_btn').each(function(i){
      $(this).mouseover(function(){
        $(".profile_flwd_btn:eq("+ i + ")").hide();
        $(".profile_unflw_btn:eq("+ i + ")").show();
      });
    });
  </script>

  <script>
    $('.profile_unflw_btn').each(function(i){
      $(this).mouseout(function(){
        $(".profile_unflw_btn:eq("+ i + ")").hide();
        $(".profile_flwd_btn:eq("+ i + ")").show();
      });
    });
  </script>

<!-- scripts left ranking -->

{% comment %}

  <script>
    $('.left_ranking').mouseover(function(){
      $(".left_ranking_1").removeClass('left_ranking_opacity_low');
      $(".left_ranking_2").removeClass('left_ranking_opacity_med');
      $(".left_ranking_4").removeClass('left_ranking_opacity_med');
      $(".left_ranking_5").removeClass('left_ranking_opacity_low');

    });
  </script>

  <script>
    $('.left_ranking').mouseout(function(){
      $(".left_ranking_1").addClass('left_ranking_opacity_low');
      $(".left_ranking_2").addClass('left_ranking_opacity_med');
      $(".left_ranking_4").addClass('left_ranking_opacity_med');
      $(".left_ranking_5").addClass('left_ranking_opacity_low');
    });
  </script>

{% endcomment %}

<!-- End scripts left ranking -->

<!-- scripts player -->
    
  <script>

    // Init for YouTube

      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;

    // Init for SoundCloud

      var widgetIframe = document.getElementById('sc-widget'),
      widget       = SC.Widget(widgetIframe);

    // Init for hipMe

      var mixIdList;
      var mixIter = 'noPlayer';

    // Functions

      function loadMix(mixIdListInput) {
        if (mixIter != 'noPlayer') {
          hipmeKill();
        }
        mixIdList = mixIdListInput;
        mixIter = mixIdList[0] + 1;
        hipmePlayTrack();
      }

      function hipmePlayTrack() {

        $("#hipme_player_controls").show();

        // if YouTube

        if (mixIdList[mixIter][0] == 'youtube') {
          player = new YT.Player('player', {
          height: '200',
          width: '220',
          videoId: mixIdList[mixIter][1],
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });

        // else if SoundCloud

        } else {
          $("#sc-widget").show();
          widget.load(mixIdList[mixIter][1]);

          // Fires video when player ready (SoundCloud only)

          widget.bind(SC.Widget.Events.READY, function() {
            widget.play();
          });

          // Fires next video when current over (SoundCloud only)

          widget.bind(SC.Widget.Events.FINISH, function() {
            hipmeNext();
          });
        }
      }

      // Fires video when player ready (YouTube only)

      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // Fires next video when current over (YouTube only)

      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
          hipmeNext();
        }
      }

      function hipmeNext() {
        if (mixIter + 1 != mixIdList.length) {
          hipmeKill();
          // Initiates next track
          mixIter++;
          hipmePlayTrack();
        }
      }

      function hipmePrevious() {
        if (mixIter != 1) {
          hipmeKill();
          // Initiates previous track
          mixIter--;
          hipmePlayTrack();
        }
      }

      function hipmePause() {
        if (mixIdList[mixIter][0] == 'youtube') {
          player.pauseVideo();
        } else {
          widget.pause();
        };
      }

      function hipmePlay() {
        if (mixIdList[mixIter][0] == 'youtube') {
          player.playVideo();
        } else {
          widget.play();
        };
      }

      // Kills player when changing song

      function hipmeKill() {

        // Kills YouTube player
        if (mixIdList[mixIter][0] == 'youtube') {
          player.destroy();

        // Stops and hides SoundCloud player
        } else {
          widget.pause();
          $("#sc-widget").hide();
        };
      }

    </script>

<!-- End scripts player -->

<!-- Joyride -->

<script>
  $("#exp_tour_link").click(function(){
    $(document).foundation('joyride', 'start');
  });
</script>

<script>
  if({{request.user.get_profile.nb_connects}} == 1) {
    $(document).foundation('joyride', 'start');
  };
</script>

<!-- End joyride -->

{% analytics "UA-38449021-1" %}
</body>
</html>
