
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> hipMe! </title>

  <!-- Included CSS Files -->

  {% load staticfiles %}

  <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_general.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_mixtape.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_left_profile.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_landing.css" %}"/>

  <script type="text/javascript" src="{% static "js/vendor/custom.modernizr.js" %}"></script>

  <link href="{% static 'css/chosen.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/chosen.jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/chosen.jquery_ready.js' %}"></script>

  {{ form.media.css }}

  {{ form.media.js }}

</head>

<body>

  <!-- Header and Nav -->

<div class="fixed contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#"> hipMe! </a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="divider"></li>
        <li>
          <a href="/profile/"> 
            {% if user.avatar %}
              <img src="adresse de l'avatar" alt="profile_top_img" class="profile_top_img" width="32"/>
            {% else %}
              <img src="{% static "img/default.jpg" %}" alt="profile_top_img" class="profile_top_img" width="32"/>
            {% endif %}
            Simon Frr
          </a>
        </li>
        <li class="divider"></li>
        <li class="divider"></li>
        <li class="has-form"><button class="small top_bar_button" data-reveal-id="tracklistModal"> New Mixtape </button></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-form">
          <form>
            <div class="row collapse">
              <div class="small-8 columns">
                <input type="text">
              </div>
              <div class="small-4 columns">
                <a href="#" class="alert button">Search</a>
              </div>
            </div>
          </form>
        </li>
        <li class="divider"></li>
        <li><a href="#"> Settings </a></li>
        <li class="divider"></li>
      </ul>
    </section>
  </nav>
</div>

  <!-- End Header and Nav -->

<div class="row page_content">

  <!--   Left nav -->
    
    <div class="small-3 columns left_profile">
      <div class="panel">
        <div class="row left_profile_top">
          <div class="small-5 columns">
            <a href="/profile/"><img src="{% static "img/HMProfile.jpg" %}"/></a>
          </div>
          <div class="small-7 columns no_padding_left">
            <div class="left_profile_username">
              <a href="/profile/"> Simon Frr </a>
            </div>
            <div class="left_profile_link">
              <a href="#"> Edit Profile </a>
            </div>
            <div class="left_profile_link">
              <a href="#"> Logout </a>
            </div>
          </div>
        </div>
        <div class="row left_profile_stats">
          <div class="small-12 columns">
            <div>
              <a href="#"> 999 points </a>
            </div>
            <br/>
            <div>
              <a href="#"> badge 1 </a>
            </div>
            <div>
              <a href="#"> badge 2 </a>
            </div>
            <div>
              <a href="#"> badge 3 </a>
            </div>
            <br/>
            <div>
              <a href="/profile/"> Games </a>
            </div>
            <div>
              <a href="/listen/"> Collection </a>
            </div>
            <div>
              <a href="#"> People </a>
            </div>
            <div>
              <a href="#"> Stats & Ranking </a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel hipme_site_stats">
        <h5> hipMe! </h5>
        <ul class="no-bullet">
          <li> 945 mixtapes created </li>
          <li> 329 registered users </li>
          <li> 2243 songs discovered </li>
          <li> Keep da hip... </li>
        </ul>
      </div>
    </div>

  <!-- Main Feed -->

  <div class="large-9 columns">

    {% block feed_header %}
    {% endblock feed_header %}

    {% block feed_nav %}
    {% endblock feed_nav %}

    {% block main_feed %}
    {% endblock main_feed %}

  </div>

  <!-- End Main Feed -->

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright HipMe.</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">About</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  {% include "hip_engine/snippet_form/snippet_form_tracklist.html" %}

  <script>
  document.write('<script src={% static "js/vendor/" %}' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>

  <script src="{% static "js/foundation.min.js" %}"></script>
  
  <script>
    $('.toggle_add_track_btn').each(function (i) {
        $(this).click(function(){
          $(".mixtape_add_track_form:eq("+ i + ")").fadeToggle('fast');
          $(".toggle_add_track_btn:eq("+ i + ")").toggle();
          $(".input_url:eq("+ i + ")").focus();
      });
    });
  </script>
  
  <script>
    $('.toggle_cancel').each(function (i) {
        $(this).click(function(){
          $(".mixtape_add_track_form:eq("+ i + ")").toggle();
          $(".toggle_add_track_btn:eq("+ i + ")").fadeToggle('fast');
      });
    });
  </script>

  <script>
    $('.comment_zone_show').each(function(i){
        $(this).click(function(){
          $(".mixtape_comment_container:eq("+ i + ")").toggle();
          $(".comment_zone_show:eq("+ i + ")").toggle();
          $(".comment_zone_hide:eq("+ i + ")").toggle();
          $(".input_comment:eq("+ i + ")").focus();
      });
    });
  </script>

  <script>
    $('.comment_zone_hide').each(function(i){
        $(this).click(function(){
          $(".mixtape_comment_container:eq("+ i + ")").toggle();
          $(".comment_zone_show:eq("+ i + ")").toggle();
          $(".comment_zone_hide:eq("+ i + ")").toggle();
      });
    });
  </script>

  <script>
    $('.profile_flw_btn').each(function(i){
        $(this).click(function(){
          $(".profile_flw_btn:eq("+ i + ")").hide();
          $(".profile_unflw_btn:eq("+ i + ")").show();
      });
    });
  </script>

    <script>
    $('.profile_unflw_btn').each(function(i){
        $(this).click(function(){
          $(".profile_flw_btn:eq("+ i + ")").show();
          $(".profile_unflw_btn:eq("+ i + ")").hide();
      });
    });
  </script>

  <script>
    $(document).foundation();
    $(".chzn-select").chosen()
  </script>
  
</body>
</html>
