
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> hipMe! </title>

  <!-- Included CSS Files -->

    {% load staticfiles %}

  <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" href="{% static "css/additional.css" %}"/>

  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

</head>

<body>

  <!-- Header and Nav -->

<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#"> hipMe! </a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#"> Newsfeed </a></li>
        <li class="divider"></li>
        <li><a href="#"> Listen to mixtapes </a></li>
        <li class="divider"></li>
        <li><a href="#"> Start a mixtape </a></li>
        <li class="divider"></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-form">
          <form>
            <div class="row collapse">
              <div class="small-8 columns">
                <input type="text">
              </div>
              <div class="small-4 columns">
                <a href="#" class="alert button">Search</a>
              </div>
            </div>
          </form>
        </li>
        <li class="divider"></li>
        <li><a href="#"> Settings </a></li>
      </ul>
    </section>
  </nav>
</div>

  <!-- End Header and Nav -->

<div class="page_content">

  <!-- Main Feed -->

  <div class="large-8 columns push-2">

    {% block feed_header %}
    {% endblock feed_header %}

    {% block feed_nav %}
    {% endblock feed_nav %}

    {% block main_feed %}
    {% endblock main_feed %}

  </div>

  <!-- End Main Feed -->

  <!--   Left nav -->
  <!-- This is source ordered to be pulled to the left on larger screens -->
    
    <div class="small-2 columns pull-8 hipme_left_profile">
      <div class="panel">
        <div class="row mini_profile_top">
          <div class="small-5 columns mini_profile_avatar">
            <a href="#"><img src="{% static "img/HMProfile.jpg" %}"/></a>
          </div>
          <div class="small-7 columns no_padding_left">
            <div class="mini_profile_username">
              <a href="#"> Simon Frr </a>
            </div>
            <div class="mini_profile_links">
              <a href="#"> Edit Profile </a>
            </div>
            <div class="mini_profile_links">
              <a href="#"> Logout </a>
            </div>
          </div>
        </div>
        <div class="row mini_profile_stats">
          <div>
            <a href="#"> 999 points </a>
          </div>
          <br/>
          <div>
            <a href="#"> badge 1 </a>
          </div>
          <div>
            <a href="#"> badge 2 </a>
          </div>
          <div>
            <a href="#"> badge 3 </a>
          </div>
          <br/>
          <div>
            <a href="#"> Games </a>
          </div>
          <div>
            <a href="#"> Collection </a>
          </div>
          <div>
            <a href="#"> People </a>
          </div>
          <div>
            <a href="#"> Stats & Ranking </a>
          </div>
        </div>
      </div>
    </div>
 
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->

    <aside class="large-2 columns hide-for-small">
      <div class="panel hipme_stats">
        <h5> hipMe! </h5>
        <ul class="no-bullet">
          <li> 945 mixtapes created </li>
          <li> 329 registered users </li>
          <li> 2243 songs discovered </li>
          <li> Keep da hip... </li>
        </ul>
      </div>
      <div class="panel hipme_stats">
      </div>
    </aside>

  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright HipMe.</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">About</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src={% static "js/vendor/" %}' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>

  <script src="{% static "js/foundation.min.js" %}"></script>

  <script>
    $(document).foundation();
    $(".chzn-select").chosen()
  </script>

  <script>
  $('.toggle_add_track_btn').click(function () {
           $(".mixtape_add_track_form").toggle();
           $(".toggle_add_track_btn").toggle();
        });
  </script>

  <script>
  $('.toggle_cancel').click(function () {
           $(".mixtape_add_track_form").toggle();
           $(".toggle_add_track_btn").toggle();
        });
  </script>

  
</body>
</html>
