
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> HipMe! </title>

  <!-- Included CSS Files -->
  
  <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/foundation.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/additional.css">

  <script src="js/vendor/custom.modernizr.js"></script>

</head>

<body>

  <!-- Header and Nav -->

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#"> HipMe! </a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#"> Newsfeed </a></li>
        <li class="divider"></li>
        <li><a href="#"> New mixtape </a></li>
        <li class="divider"></li>
        <li><a href="#"> Explore </a></li>
        <li class="divider"></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-form">
          <form>
            <div class="row collapse">
              <div class="small-8 columns">
                <input type="text">
              </div>
              <div class="small-4 columns">
                <a href="#" class="alert button">Search</a>
              </div>
            </div>
          </form>
        </li>
        <li class="divider"></li>
        <li> <a href="#"> <img src="img/HMProfile.jpg" width="32"/> Simon Frr </a> </li>
        <li class="divider"></li>
        <li><a href="#"> Settings </a></li>
      </ul>
    </section>
  </nav>

  <!-- End Header and Nav -->

  <!-- Main Feed -->
  <div class="large-8 columns push-2">

    <!-- Feed Entry = profile -->

    <div class="row userprofile">
      <div class="small-2 columns">
        <a href="#"> <img src="img/HMProfile.jpg"/> </a>
      </div>
      <div class="small-10 columns">
        <ul class="inline-list">
          <li>
            <h4><a href="#"> Simon Frr </a></h4>
          </li>
          <li>
            <a href="#" class="button success"> Follow </a>
          </li>
        </ul>
        <ul class="inline-list">
          <li class="label radius success"> 999 points </li>
          <li class="label radius"> Soul Expert </li>
          <li class="label radius"> Funk Emperor </li>
        </ul>
      </div>
    </div>

    <!-- End Feed Entry = profile -->

    <!-- Feed Top Nav -->
    <div class="row userprofile_nav">
        <dl class="sub-nav feed_nav_top">
          <dd class="active"><a href="#"> Mixtapes (33) </a></dd>
          <dd><a href="#"> Contributions (54) </a></dd>
          <dd><a href="#"> Collection (76) </a></dd>
          <dd><a href="#"> Followers (76) </a></dd>
          <dd><a href="#"> Stats </a></dd>
        </dl>
      </div>

        <ul class="button-group radius">
          <li><a href="#" class="button small"> Mixtapes (33) </a></li>
          <li><a href="#" class="button small"> Contributions (54) </a></li>
          <li><a href="#" class="button small"> Collection (76) </a></li>
          <li><a href="#" class="button small"> Followers (193) </a></li>
          <li><a href="#" class="button small"> Stats </a></li>
        </ul>

    <!-- End Feed Top Nav -->

    <hr/>
    <!-- Feed Entry = 1 mixtape -->

    <!-- Mixtape header -->
    <div class="row">
      <div class="small-12 columns mixtape_header">
        <h4>Mixtape Title - great mixtape</h4>
        <ul class="inline-list">
          <li class="label radius"> Soul </li>
          <li class="label radius"> Funk </li>
        </ul>
        <p class="mixtape_info">
          22 hours left - 1 free spot
        </p>
      </div>
    </div>
    <!-- End Mixtape header -->

    <!-- Mixtape tracks -->
    <div class="row">
      <div class="small-12 columns">
        <ul class="no-bullet">
          <li>
            <div class="row">
              <div class="small-1 columns">
                <img src="img/HMProfile.jpg"/>
              </div>
              <div class="small-2 columns">
                <div class="mixtape_user">
                  Simon
                </div>
                <div class="mixtape_user">
                  999 points
                </div>
                <div class="mixtape_user">
                  + 20 !
                </div>
              </div>
              <div class="small-9 columns">
                <ul class="no-bullet">
                  <li>
                    <a href="#" class="label track">
                    Track name - Artist name
                    </a>
                    <ul class="button-group right">
                      <li><a href="#" class="tiny label success"> Like </a></li>
                      <li><a href="#" class="tiny label"> Keep </a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="label track">
                    Track name - Artist name
                    </a>
                    <ul class="button-group right">
                      <li><a href="#" class="tiny label success"> Like </a></li>
                      <li><a href="#" class="tiny label"> Keep </a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="label track">
                    Track name - Artist name
                    </a>
                    <ul class="button-group right">
                      <li><a href="#" class="tiny label success"> Like </a></li>
                      <li><a href="#" class="tiny label"> Keep </a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Mixtape tracks -->

    <!-- Mixtape interaction -->
    <div class="row comment_zone">
      <ul class="no-bullet">
        <li>
          <div class="small-1 small-offset-2 columns">
            <img src="img/HMProfile.jpg"/>
          </div>
          <div class="small-1 columns">
            <div class="mixtape_user">
              Simon
            </div>
            <div class="mixtape_user">
              999
            </div>
          </div>
          <div class="small-8 columns">
            Comment j'ai fait pour les courses ? J'ai divisé en prenant une somme pour l'alcool et le reste pour un certain nombre de repas. C'est donc par...
          </div>
          <hr/>
        </li>
        <li>
          <div class="small-1 small-offset-2 columns">
            <img src="img/HMProfile.jpg"/>
          </div>
          <div class="small-1 columns">
            <div class="mixtape_user">
              Simon
            </div>
            <div class="mixtape_user">
              999
            </div>
          </div>
          <div class="small-8 columns">
            <div class="row">
              <form>
                <div class="small-10 columns">
                  <input type="text" id="comment" placeholder="Add a comment" />
                </div>
                <div class="small-2 columns">
                  <button type="submit" class="radius button tiny"> Submit </button>
                </div>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- End Mixtape interaction -->

    <hr/>

    <!-- End Feed Entry = 1 mixtape -->

    <!-- Feed Entry = finished mixtapes -->

    <ul class="small-block-grid-3">
      <li>
        <div class="mini_mixtape">
          <div class="row mini_mixtape_title">
            <h6> Mixtape title </h6>
          </div>
          <div class="row mini_mixtape_tag_list">
            <ul class="inline-list">
              <li class="label radius tag"> Soul </li>
              <li class="label radius tag"> Funk </li>
              <li class="label radius tag"> Jazz </li>
              <li class="label radius tag"> Hip-hop </li>
            </ul>
          </div>
          <div class="row mini_mixtape_user_list">
            <ul class="small-block-grid-4">
              <li>
                <img src="img/HMProfile.jpg" />
              </li>
              <li>
                <img src="img/HMProfile.jpg" />
              </li>
              <li>
                <img src="img/HMProfile.jpg" />
              </li>
              <li>
                <img src="img/HMProfile.jpg" />
              </li>
            </ul>
          </div>
          <div class="row mini_mixtape_info">
            999 kept it - 999 commented
          </div>
        </div>
      </li>
    </ul>

    <!-- End Feed Entry = finished mixtapes -->

  </div>

    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="small-2 columns pull-8 hipme_left_profile">
      <div class="row mini_profile_top">
        <div class="small-5 columns mini_profile_avatar">
          <a href="#"><img src="img/HMProfile.jpg"/></a>
        </div>
        <div class="small-7 columns no_padding_left">
          <div class="mini_profile_username">
            <a href="#"> Simon Frr </a>
          </div>
          <div class="mini_profile_links">
            <a href="#"> Edit Profile </a>
          </div>
          <div class="mini_profile_links">
            <a href="#"> Logout </a>
          </div>
        </div>
      </div>
      <div class="row mini_profile_stats">
        <div>
          <a href="#"> 999 points </a>
        </div>
        <br/>
        <div>
          <a href="#"> tag 1 </a>
        </div>
        <div>
          <a href="#"> tag 2 </a>
        </div>
        <div>
          <a href="#"> tag 3 </a>
        </div>
        <br/>
        <div>
          <a href="#"> mixtapes (999) </a>
        </div>
        <div>
          <a href="#"> contributions (999) </a>
        </div>
        <div>
          <a href="#"> collection (999) </a>
        </div>
        <div>
          <a href="#"> followers (999) </a>
        </div>
        <div>
          <a href="#"> stats </a>
        </div>
      </div>
    </div>
 
 
    <!-- Right Sidebar -->
    <!-- On small devices this column is hidden -->
    <aside class="large-2 columns hide-for-small">
      <div class="panel">
        <ul class="no-bullet">
          <li>
            <div class="mixtape_small_list">
              <div class="mixtape_small_list">
                <a href="#" class="mixtape_small_list"> <img src="img/mixtape.png"> Cool mixtape </a>
              </div>
              <div >
                by <a href="#" class="mixtape_small_list"> John_Peter </a>
              </div>
              <hr/>
            </div>
          </li>
          <li> 
            <a href="#"> <img src="img/mixtape.png"> Cool mixtape </a>
          </li>
          <li> 
            <a href="#"> <img src="img/mixtape.png"> Cool mixtape </a>
          </li>
          <li> 
            <a href="#"> <img src="img/mixtape.png"> Cool mixtape </a>
          </li>
          <li> 
            <a href="#"> <img src="img/mixtape.png"> Cool mixtape </a>
          </li>
          <li> 
            <a href="#"> <img src="img/mixtape.png"> Cool mixtape </a>
          </li>
          <li> 
            <a href="#"> <img src="img/mixtape.png"> Cool mixtape </a>
          </li>
        </ul>
      </div>
    </aside>

  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright HipMe.</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="#">About</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>
