<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> Forms </title>

  <!-- Included CSS Files -->

  {% load staticfiles %}

  <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_general.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_mixtape.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_mixtape_form.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_left_nav.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_landing.css" %}"/>

  <script type="text/javascript" src="{% static "js/vendor/custom.modernizr.js" %}"></script>

  <link href="{% static 'css/chosen.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/chosen.jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/chosen.jquery_ready.js' %}"></script>

  {{ form.media.css }}

  {{ form.media.js }}

</head>

<body>
{% if info_message %}
  <p> {{info_message}} </p>
{% endif %}

  <p>
    <form action="/login/" method="POST">
        {% csrf_token %}
        <fieldset>
          <legend>Sign In</legend>

          <div class="row">
            <div class="small-8">
              <div class="row">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline"></label>
                </div>
                <div class="small-9 columns">
                  <div class="small-5 columns">
                    <input type="text" id="right-label" value="{{username}}" name="username" placeholder="Username">
                  </div>
                  <div class="small-5 columns">
                    <input type="password" id="right-label" value="{{password}}" name="password" placeholder="Password">
                  </div>
                  <div class="small-2 columns">
                    <input type="submit" class="button postfix" value="Sign In"/>  
                    <input type="hidden" name="form-type" value="sign-in" />
                  </div>
                </div>
              </div>
            </div>
          </div>

        </fieldset>
    </form>
  </p>

  <p>
    <form action="/login/" method="POST">
        {% csrf_token %}
        <fieldset>
          <legend>Log out</legend>

          <div class="row">
            <div class="small-8">
              <div class="row">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline"></label>
                </div>
                <div class="small-9 columns">
                  <div class="small-8 columns">
                    <span class="prefix">Logged as {{request.user.username}}</span>
                  </div>
                  <div class="small-4 columns">
                    <input type="submit" class="button postfix" value="Log out"/>  
                    <input type="hidden" name="form-type" value="sign-in" />
                  </div>
                </div>
              </div>
            </div>
          </div>

        </fieldset>
    </form>
  </p>

  <p>
    <form action="/register/" method="POST">
        {% csrf_token %}
        <fieldset>
          <legend>Sign Up</legend>
          <div class="row">
            <div class="small-8">
              <div class="row collapse">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline"></label>
                </div>
                <div class="small-9 columns">
                  {% if error_message_username %}
                    <input type="text" class="error" id="right-label" value="{{username}}" name="username" placeholder="Username">
                    <small class="error">{{error_message_username}}</small>
                  {% else %}                    
                    <input type="text" id="right-label" value="{{username}}" name="username" placeholder="Username">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-8">
              <div class="row collapse">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline"></label>
                </div>
                <div class="small-9 columns">
                  {% if error_message_email %}
                    <input type="text" class="error" id="right-label" name="email_1" value="{{email_1}}" placeholder="Email">
                    <small class="error">{{error_message_email}}</small>
                  {% else %}
                    <input type="text" id="right-label" value="{{email_1}}" name="email_1" placeholder="Email">                  
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-8">
              <div class="row collapse">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline"></label>
                </div>
                <div class="small-9 columns">
                  {% if error_message_email %}
                    <input type="text" class="error" id="right-label" name="email_2" value="{{email_2}}" placeholder="Repeat Email">
                    <small class="error">{{error_message_email}}</small>
                  {% else %}
                    <input type="text" id="right-label" value="{{email_2}}" name="email_2" placeholder="Repeat Email">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-8">
              <div class="row collapse">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline"></label>
                </div>
                <div class="small-9 columns">
                  <div class="small-5 columns">
                    <input type="password" id="right-label" value="{{password}}" name="password" placeholder="Password">    
                  </div>
                  <div class="small-1 columns">
                  </div>
                  <div class="small-6 columns">
                    <input type="submit" class="button postfix" value="Sign Up"/>  
                    <input type="hidden" name="form-type" value="sign-up" />
                  </div>
                </div>
              </div>
            </div>
          </div>

        </fieldset>
    </form>
  </p>

  <p>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
          <legend>Update Email</legend>
        {% for field in email_form %}
          <div class="row">
            <div class="small-8">
              <div class="row">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline"></label>
                </div>
                <div class="small-9 columns">
                  <div class="small-9 columns">
                    <input type="text" id="right-label" value="" placeholder="New Email Address">
                  </div>
                  <div class="small-3 columns">
                    <a href="#" class="button postfix">Update</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </fieldset>
    </form>
  </p>

  <p>
    <form action="" method="POST">
      {% csrf_token %}
      <fieldset>
        <legend>Toggle Email Notification</legend>
        {% for field in email_notif_form %}
          <div class="row">
            <div class="small-8">
              <div class="row">
                <div class="small-3 columns">
                </div>
                <div class="small-9 columns">
                  <div class="large-4 columns">
                    <span class="prefix">{{ field.label }}</span>    
                  </div>
                  <div class="large-8 columns">
                    <div class="switch">
                      {% if field.value == "True" %}
                        <input id="x" name="switch-x" type="radio" checked>
                        <label for="x" onclick="">No</label>

                        <input id="x1" name="switch-x" type="radio">
                        <label for="x1" onclick="">Yes</label>
                      {% else %}
                        <input id="x" name="switch-x" type="radio">
                        <label for="x" onclick="">No</label>

                        <input id="x1" name="switch-x" type="radio" checked>
                        <label for="x1" onclick="">Yes</label>
                      {% endif %}
                      <span></span>
                    </div>    
                  </div>  
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </fieldset>
    </form>
  </p>

<form action="" method="POST">
  <select data-placeholder="Type de restaurant" class="chzn-select chzn-add" multiple name="other_types">
    <option value="1">test</option>
    <option value="2">coucou</option>
  </select>
</form >

<p>
  <fieldset>
    <legend>New tracklist</legend>
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 small-centered columns">
            <a class="button" data-reveal-id="tracklistModal" >New Tracklist</a>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

{% include "hip_engine/snippet_form/snippet_form_tracklist.html" %}

</p>

  <script>
  document.write('<script src={% static "js/vendor/" %}' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="{% static "js/foundation.min.js" %}"></script>
  <script>
    $(document).foundation();
    $(".chzn-select").chosen()
  </script>

</body>

