<!DOCTYPE html>
{% load analytics %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> hipme </title>
  <link rel="icon" type="image/jpg" href="{% static "img/hipme_favicon.jpg"}" />

  <!-- Included CSS Files -->

  {% load staticfiles %}

  <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_landing.css" %}"/>

  <script type="text/javascript" src="{% static "js/vendor/custom.modernizr.js" %}"></script>

  {{ form.media.css }}

  {{ form.media.js }}

</head>

<body>

  <!-- Header and Nav -->

<div class="fixed contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <a href="#"> 
          <img src="{% static "img/hipme-logo-white-topbar.png" %}"/> 
        </a>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#" data-reveal-id="howItWorks"> How does it work? </a></li>
        <li class="divider"></li>
        {% comment %}
        <li><a href="#" data-reveal-id="about"> About </a></li>
        <li class="divider"></li>
        {% endcomment %}
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-form">
          <form action="/login/process/" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="small-4 small-offset-2 columns">
                <input type="text" id="right-label" value="{{username}}" name="username" placeholder="Username">
              </div>
              <div class="small-4 columns">
                <input type="password" id="right-label" value="{{password}}" name="password" placeholder="Password">
              </div>
              <div class="small-2 columns">
                <input type="submit" class="success button" value="Log In"/>  
                <input type="hidden" name="form-type" value="sign-in" />
              </div>
            </div>
          </form>
        </li>
        <li class="divider"></li>
        <li><a href="/user/password/reset/"> Forgot password? </a></li>
      </ul>
    </section>
  </nav>
</div>

  <!-- End Header and Nav -->

  <!-- Error messages (login) -->
  <div class="row">
    <div class="small-5 small-offset-7 columns text-center login_error">
      {% if error_message_login %}
        <div data-alert class="alert-box alert top_feed_alert">
          {{error_message_login}}
          <a href="#" class="close">&times;</a>
        </div>
      {% endif %}
    </div>
  </div>

  <!-- Landing Content -->

{% block content %}

<div class="row landing_content">
  <div class="small-7 columns text-center">
    <img src="{% static "img/hipme-logo-green-site-cover-720p.png" %}" class="landing_logo">
  </div>
  <div class="small-5 columns">
    <form action="/register/" method="POST">
      {% csrf_token %}
      <fieldset>
        <legend class="sign_up_legend"> Jump in! </legend>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            {% if error_message_username %}
              <input type="text" class="error" id="right-label" value="{{username}}" name="username" placeholder="Username">
              <small class="error">{{error_message_username}}</small>  
            {% else %}                    
              <input type="text" id="right-label" value="{{username}}" name="username" placeholder="Username">
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            {% if error_message_password %}
              <input type="password" class="error" id="right-label" value="{{password}}" name="password" placeholder="Password">
              <small class="error">{{error_message_password}}</small>  
            {% else %}    
              <input type="password" id="right-label" value="{{password}}" name="password" placeholder="Password">
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            {% if error_message_email_1 %}
              <input type="text" class="error" id="right-label" name="email_1" value="{{email_1}}" placeholder="Email">
              <small class="error">{{error_message_email_1}}</small>
            {% else %}
              <input type="text" id="right-label" value="{{email_1}}" name="email_1" placeholder="Email (you won't get spammed)">
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            {% if error_message_email_2 %}
              <input type="text" class="error" id="right-label" name="email_2" value="{{email_2}}" placeholder="Repeat Email">
              <small class="error">{{error_message_email_2}}</small>
            {% else %}
              <input type="text" id="right-label" value="{{email_2}}" name="email_2" placeholder="Repeat Email (no spam either...)">
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            <input type="submit" class="button large expand" value="Sign Up"/>  
            <input type="hidden" name="form-type" value="sign-up" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}

  <!-- End Landing Content -->

  <div id="howItWorks" class="reveal-modal medium">
    <h2> It's all just a game. </h2>
    <h4> Here is the gist of it. </h4>
    <p>
      1. <text class="tag_howitworksgreen"> Create </text> a mixtape with a few tracks you like, taken from YouTube or SoundCloud. <br/>
      2. Ask friends to <text class="tag_howitworksgreen"> add tracks </text> to your mixtape. </br>
      3. <text class="tag_howitworksgreen">Select</text> the tracks you want to keep in your mixtape. </br>
      4. Your friends get <text class="tag_howitworksgreen"> points </text> for each track you keep. </br>
    </p>
    <h4> Simple, yet awesome. </h4>
    <p>
      They fight to get recognition as great music advisors. <br/>
      You get great mixtapes, handcrafted by those who know you best.
    </p>
    <p><h4> It doesn't get any better. Sign up and enjoy. </h4></p>
    <a class="close-reveal-modal"> &#215; </a>
  </div>

  {% comment %}
  <div id="about" class="reveal-modal medium">
    <h2> It's just the beginning... </h2>
    <h4> So buckle up, Jimbo. </h4>
    <a class="close-reveal-modal"> &#215; </a>
  </div>
  {% endcomment %}

  <div id="contact" class="reveal-modal medium">
    <h2> Let's get in touch! </h2>
    <h4> We love feedback, advice, congratulations etc. </h4>
    <p> E-mail us at <a href="mailto:hipmail.me@gmail.com"> hipmail.me@gmail.com</a>, or ping us on <a href="https://www.facebook.com/hipmemusic" target="_blank">Facebook</a>! We'll get back to you so very very soon. </p>
    <a class="close-reveal-modal"> &#215; </a>
  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list right">
            <li><a href="#" data-reveal-id="contact"> Contact </a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->

  <script>
    document.write('<script src={% static "js/vendor/" %}' +
    ('__proto__' in {} ? 'zepto' : 'jquery') +
    '.js><\/script>')
  </script>

  <script src="{% static "js/foundation.min.js" %}"></script>
  
  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

  <script>
    $(document).foundation();
  </script>

{% analytics "UA-38449021-1" %}
</body>
</html>
