<!DOCTYPE html>
{% load analytics %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> hipMe! </title>
  <link rel="icon" type="image/jpg" href="{% static "img/hipme_favicon.jpg"}" />

  <!-- Included CSS Files -->

  {% load staticfiles %}

  <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_landing.css" %}"/>

  <script type="text/javascript" src="{% static "js/vendor/custom.modernizr.js" %}"></script>

  {{ form.media.css }}

  {{ form.media.js }}

</head>

<body>

  <!-- Header and Nav -->

<div class="fixed contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <a href="#"> 
          <img src="{% static "img/hipme-logo-white-topbar.png" %}"/> 
        </a>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#" data-reveal-id="howItWorks"> How does it work? </a></li>
        <li class="divider"></li>
        {% comment %}
        <li><a href="#" data-reveal-id="about"> About </a></li>
        <li class="divider"></li>
        {% endcomment %}
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-form">
          <form action="/login/process/" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="small-4 small-offset-2 columns">
                <input type="text" id="right-label" value="{{username}}" name="username" placeholder="Username">
              </div>
              <div class="small-4 columns">
                <input type="password" id="right-label" value="{{password}}" name="password" placeholder="Password">
              </div>
              <div class="small-2 columns">
                <input type="submit" class="success button" value="Log In"/>  
                <input type="hidden" name="form-type" value="sign-in" />
              </div>
            </div>
          </form>
        </li>
      </ul>
    </section>
  </nav>
</div>

  <!-- End Header and Nav -->

  <!-- Error messages (login) -->
  <div class="row">
    <div class="small-5 small-offset-7 columns text-center login_error">
      {% if error_message_login %}
        <div data-alert class="alert-box alert top_feed_alert">
          {{error_message_login}}
          <a href="#" class="close">&times;</a>
        </div>
      {% endif %}
    </div>
  </div>

  <!-- Landing Content -->

<div class="row landing_content">
  <div class="small-7 columns text-center">
    <img src="{% static "img/hipme-logo-green-site-cover-720p.png" %}" class="landing_logo">
    <h3> Coming soon. Very soon. </h3>
  </div>
  <div class="small-4 small-offset-1 columns landing_form_temp">
    <form action="/saveemail/" method="POST">
      {% csrf_token %}
      <fieldset>
        <legend class="sign_up_legend"> Stay tuned! </legend>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            <p> We'll let you know about the release. No lolcats. </p>
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            <input type="text" value="{{email_temp}}" name="email_temp" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            <input type="submit" class="button expand" value="Go."/>  
            <input type="hidden" name="form-type" value="saveemail" />
          </div>
        </div>
        {% if error_message_saved_email or info_message_saved_email %}
          <div class="row">
            {% if error_message_saved_email %}
              <div class="small-10 small-offset-1 columns text-center login_error">
                <div data-alert class="alert-box alert top_feed_alert">
                  {{error_message_saved_email}}
                  <a href="#" class="close">&times;</a>
                </div>
              </div>
            {% elif info_message_saved_email %}
              <div class="small-10 small-offset-1 columns text-center login_error">
                <div data-alert class="alert-box success top_feed_alert">
                  {{info_message_saved_email}}
                  <a href="#" class="close">&times;</a>
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </fieldset>
    </form>
  </div>
</div>

  <!-- End Landing Content -->

  <div id="howItWorks" class="reveal-modal medium">
    <h2> It's all just a game. </h2>
    <h4> Here is the gist of it. </h4>
    <p>
      1 - Start a mixtape with a few tracks you like, taken from YouTube or SoundCloud. <br/>
      2 - Ask friends to fill in the mixtape with other tracks. </br>
      3 - You select the tracks you want to keep in your playlist. </br>
      4 - Each track you keep gets points to the contributor. Easy, right? </br>
    </p>
    <p>
      <strong> You get a great mixtape, handcrafted by your friends.</strong> <br/> They know you well, they know best what you like.
    </p>
    <p>
      <strong> They get public recognition as great music advisors. </strong> <br/> And special badges such as 
      <text class="tag_howitworks"> deep-house emperor </text> or <text class="tag_howitworks"> post-rock starfighter </text> for everyone to see (coming soon).
    </p>
    <p><strong> Now sign up and enjoy. You won't regret it. </strong></p>
    <a class="close-reveal-modal"> &#215; </a>
  </div>

  {% comment %}
  <div id="about" class="reveal-modal medium">
    <h2> It's just the beginning... </h2>
    <h4> So buckle up, Jimbo. </h4>
    <a class="close-reveal-modal"> &#215; </a>
  </div>
  {% endcomment %}

  <div id="contact" class="reveal-modal medium">
    <h2> Let's get in touch! </h2>
    <h4> We love feedback, advice, congratulations etc. </h4>
    <p> E-mail us at <a href="mailto:hipmail.me@gmail.com"> hipmail.me@gmail.com</a>, or ping us on <a href="https://www.facebook.com/hipmemusic" target="_blank">Facebook</a>! We'll get back to you supersoon. </p>
    <a class="close-reveal-modal"> &#215; </a>
  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list right">
            <li><a href="#" data-reveal-id="contact"> Contact </a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->

  <script>
    document.write('<script src={% static "js/vendor/" %}' +
    ('__proto__' in {} ? 'zepto' : 'jquery') +
    '.js><\/script>')
  </script>

  <script src="{% static "js/foundation.min.js" %}"></script>
  
  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

  <script>
    $(document).foundation();
  </script>

{% analytics "UA-38449021-1" %}
</body>
</html>
