
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> hipMe! </title>

  <!-- Included CSS Files -->

  {% load staticfiles %}

  <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_general.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_mixtape.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_left_profile.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_landing.css" %}"/>

  <script type="text/javascript" src="{% static "js/vendor/custom.modernizr.js" %}"></script>

  <link href="{% static 'css/chosen.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/chosen.jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/chosen.jquery_ready.js' %}"></script>

  {{ form.media.css }}

  {{ form.media.js }}

</head>

<body>

  <!-- Header and Nav -->

<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#"> hipMe! </a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li><a href="#" data-reveal-id="howItWorks"> How does it work? </a></li>
        <li class="divider"></li>
        <li><a href="#" data-reveal-id="about"> About </a></li>
        <li class="divider"></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-form">
          <form action="/login/" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="small-4 small-offset-2 columns">
                <input type="text" id="right-label" value="{{username}}" name="username" placeholder="Username">
              </div>
              <div class="small-4 columns">
                <input type="password" id="right-label" value="{{password}}" name="password" placeholder="Password">
              </div>
              <div class="small-2 columns">
                <input type="submit" class="alert button" value="Log In"/>  
                <input type="hidden" name="form-type" value="sign-in" />
              </div>
            </div>
          </form>
        </li>
      </ul>
    </section>
  </nav>
</div>

  <!-- End Header and Nav -->

  <!-- Landing Content -->

<div class="row landing_content">
  <div class="small-5 push-1 columns text-center">
    <img src="{% static "img/logo_new.png" %}" class="landing_logo">
    <h1> The social game for music discovery. </h1>
  </div>
  <div class="small-4 pull-1 columns">
    <form action="/login/" method="POST">
      {% csrf_token %}
      <fieldset>
        <legend class="sign_up_legend"> Jump in! </legend>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            {% if error_message_username %}
              <input type="text" class="error" id="right-label" value="{{username}}" name="username" placeholder="Username">
              <small class="error">{{error_message_username}}</small>
            {% else %}                    
              <input type="text" id="right-label" value="{{username}}" name="username" placeholder="Username">
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            <input type="password" id="right-label" value="{{password}}" name="password" placeholder="Password">
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            {% if error_message_email %}
              <input type="text" class="error" id="right-label" name="email_1" value="{{email_1}}" placeholder="Email">
              <small class="error">{{error_message_email}}</small>
            {% else %}
              <input type="text" id="right-label" value="{{email_1}}" name="email_1" placeholder="Email (you won't get spammed)">
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            {% if error_message_email %}
              <input type="text" class="error" id="right-label" name="email_2" value="{{email_2}}" placeholder="Repeat Email">
              <small class="error">{{error_message_email}}</small>
            {% else %}
              <input type="text" id="right-label" value="{{email_2}}" name="email_2" placeholder="Repeat Email (no spam either...)">
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-1 columns">
            <input type="submit" class="button large expand" value="Sign Up"/>  
            <input type="hidden" name="form-type" value="sign-up" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

  <!-- End Landing Content -->

  <div id="howItWorks" class="reveal-modal small">
    <h2> It's all just a game. </h2>
    <h4> Here is the gist of it. </h4>
    <p>
      1 - Start a mixtape with a few tracks you like, taken from YouTube or SoundCloud. <br/>
      2 - Ask friends to fill in the mixtape with other tracks. </br>
      3 - You select the tracks you want to keep in your playlist. </br>
      4 - Each track you keep gets points to the contributor. Easy, right? </br>
    </p>
    <p>
      <strong> You get a great mixtape, handcrafted by your friends.</strong> <br/> They know you well, they know best what you like.
    </p>
    <p>
      <strong> They get public recognition as great music advisors. </strong> <br/> And special badges such as 
      <text class="tag_howitworks"> deep-house emperor </text> or <text class="tag_howitworks"> post-rock starfighter </text> for everyone to see.
    </p>
    <p><strong> Now sign up and enjoy. You won't regret it. </strong></p>
    <a class="close-reveal-modal"> &#215; </a>
  </div>

  <div id="about" class="reveal-modal small">
    <h2> It's just the beginning... </h2>
    <h4> So buckle up, Jimbo. </h4>
    <a class="close-reveal-modal"> &#215; </a>
  </div>

  <div id="contact" class="reveal-modal small">
    <h2> Let's get in touch! </h2>
    <h4> We love feedback, advice, congratulations etc. </h4>
    <p> E-mail us at <a href="mailto:hipmail.me@gmail.com"> hipmail.me@gmail.com</a>, or ping us on <a href="https://www.facebook.com/hipmemusic" target="_blank">Facebook</a> and Twitter! We'll get back to you so very very soon. </p>
    <a class="close-reveal-modal"> &#215; </a>
  </div>


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-12 columns">
          <ul class="inline-list right">
            <li><a href="#" data-reveal-id="contact"> Contact </a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->

  <script>
  document.write('<script src={% static "js/vendor/" %}' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>

  <script src="{% static "js/foundation.min.js" %}"></script>

  <script>
    $(document).foundation();
    $(".chzn-select").chosen()
  </script>

</body>
</html>
