{% extends "hip_engine/listen_base.html" %}
{% load staticfiles %}

{% block listen_nav1 %}
success
{% endblock listen_nav1 %}

{% block feed_subnav %}

    <dl class="sub-nav feed_sub_nav">
      <dd><a href="/listen/mymusic/"> All pinned </a></dd>
      <dd class="active"><a href="/listen/mymixtapes/"> My mixtapes </a></dd>
    </dl>

{% endblock feed_subnav %}

{% block main_feed %}
 
  <!-- Feed Entry = finished mixtapes -->

  <ul class="small-block-grid-3">
    <li>
      {% include "hip_engine/snippet_mini_mixtape.html" %}
    </li>
    <li>
      {% include "hip_engine/snippet_mini_mixtape.html" %}
    </li>
  </ul>

  <!-- End Feed Entry = finished mixtapes -->

{% endblock main_feed %}

  <!-- End Main Feed -->
