{% extends "hip_engine/base.html" %}
{% load staticfiles %}

{% block feed_nav %}

  <!-- Feed Top Nav -->

    <ul class="button-group radius even-3 feed_nav">
      <li><a href="/listen/mymusic/" class="button {% block listen_nav1 %}{% endblock listen_nav1 %}"> My music </a></li>
      <li><a href="/listen/newest/" class="button {% block listen_nav2 %}{% endblock listen_nav2 %}"> Around me </a></li>
      <li><a href="#" class="button disabled secondary {% block listen_nav3 %}{% endblock listen_nav3 %}"> Explore (coming soon) </a></li>
    </ul>

  <!-- End Feed Top Nav -->

{% block feed_subnav %}
{% endblock feed_subnav %}

{% endblock feed_nav %}



