{% extends "hip_engine/base.html" %}

{% block main_feed %}

  <!-- Feed Top Nav -->

    <ul class="button-group radius even-3 feed_nav">
      <li><a href="#" class="button success"> My music </a></li>
      <li><a href="#" class="button"> Around me </a></li>
      <li><a href="#" class="button"> Explore </a></li>
    </ul>

    <dl class="sub-nav feed_sub_nav">
      <dd><a href="#"> All pinned </a></dd>
      <dd class="active"><a href="#"> My mixtapes </a></dd>
    </dl>

  <!-- End Feed Top Nav -->

  <!-- Feed Entry = finished mixtapes -->

  <ul class="small-block-grid-3">
    <li>
      {% include "hip_engine/snippet_mini_mixtape.html" %}
    </li>
  </ul>

  <!-- End Feed Entry = finished mixtapes -->

{% endblock main_feed %}

  <!-- End Main Feed -->
