<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> Login </title>

  <!-- Included CSS Files -->

  {% load staticfiles %}

  <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_general.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_mixtape.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_left_profile.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_landing.css" %}"/>

  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

</head>

<body>

<form method="post" action="/login/process/?next={{redirect_to}}">
{% csrf_token %}
  Username: <input type="text" name="username"> <br>
  Password: <input type="password" name="password"> <br>
  <input type="submit" value="Login" />
</form>

  <script>
  document.write('<script src={% static "js/vendor/" %}' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="{% static "js/foundation.min.js" %}"></script>
  <script>
    $(document).foundation();
  </script>

</body>