{% extends "hip_engine/base.html" %}
{% load staticfiles %}

{% block feed_header %}

{% comment %}
<div data-alert class="alert-box secondary">
    Check out your friends' last updates! New mixtapes, contributions, comments...
    <a href="#" class="close">&times;</a>
</div>
{% endcomment %}


{% endblock feed_header %}

{% block main_feed %}

<!-- Feed -->

<ul class="no-bullet">
	<li>
		<div class="single_mixtape_padder"></div>
	</li>
    <li>
        {% include "hip_engine/snippet_game_mixtape.html" %}
    </li>
</ul>

<!-- End Feed -->

{% endblock main_feed %}