{% extends "hip_engine/base.html" %}
{% load staticfiles %}

{% block feed_header %}

  <!-- Profile -->

{% include "hip_engine/snippet_profile_top.html" %}

  <!-- End Profile -->

{% endblock feed_header %}

{% block feed_nav %}

<!-- Feed Top Nav -->
 
<dl class="sub-nav feed_sub_nav">
  <dd class="{% block profile_nav1 %}{% endblock profile_nav1 %}"><a href="/profile/{{profile_focused.user.username}}/activity/">&nbsp;&nbsp;All activity&nbsp;&nbsp;</a></dd>
  <dd class="{% block profile_nav2 %}{% endblock profile_nav2 %}"><a href="/profile/{{profile_focused.user.username}}/pending/">&nbsp;&nbsp;Pending games&nbsp;&nbsp;</a></dd>
  <dd class="{% block profile_nav3 %}{% endblock profile_nav3 %}"><a href="/profile/{{profile_focused.user.username}}/collection/">&nbsp;&nbsp;Likes&nbsp;&nbsp;</a></dd>
</dl>

<!-- End Feed Top Nav -->

{% endblock feed_nav %}
