{% extends "hip_engine/base.html" %}
{% load staticfiles %}

{% block feed_header %}

  <!-- Profile -->

{% include "hip_engine/snippet_profile.html" %}

  <!-- End Profile -->

{% endblock feed_header %}

{% block feed_nav %}

<!-- Feed Top Nav -->
 
<dl class="sub-nav feed_sub_nav">
  <dd class="{% block profile_nav1 %}{% endblock profile_nav1 %}"><a href="/profile/activity/"> All activity </a></dd>
  <dd class="{% block profile_nav2 %}{% endblock profile_nav2 %}"><a href="/profile/collection/"> Mixtape collection </a></dd>
  <dd class="{% block profile_nav3 %}{% endblock profile_nav3 %}"><a href="/profile/pending/"> Pending games </a></dd>
</dl>

{% comment %}

<div class="row">
	<div class="small-12 columns">
		<ul class="button-group radius even-3 user_nav">
		  	<li><a href="/profile/activity/" class="button {% block profile_nav1 %}{% endblock profile_nav1 %}"> Activity </a></li>
		  	<li><a href="/profile/pendingmixtapes/" class="button {% block profile_nav2 %}{% endblock profile_nav2 %}"> Pending mixtapes (3) </a></li>
		  	<li><a href="/profile/pendingcontributions/" class="button {% block profile_nav3 %}{% endblock profile_nav3 %}"> Pending contributions (5) </a></li>
		</ul>
	</div>
</div>

{% endcomment %}

<!-- End Feed Top Nav -->

{% endblock feed_nav %}
