{% extends "hip_engine/profile_base.html" %}
{% load staticfiles %}

{% block feed_header %}

  <!-- Profile -->

{% include "hip_engine/snippet_profile.html" %}

  <!-- End Profile -->

{% endblock feed_header %}

{% block feed_nav %}

<h3 class="profile_people_header">
    {% if profile_focused == request.user.get_profile %}
        You follow:
    {% else %}
        {{ profile_focused.user.username }} follows:
    {% endif %}
</h3>

{% endblock feed_nav %}

{% block main_feed %}

<!-- Feed = games -->

<ul class="no-bullet">
    {% for profile_focused in following_list %}
        <li>
            {% include "hip_engine/snippet_profile.html" %}
                {% if not forloop.last %}
                {% endif %}
        </li>
    {% endfor %}
</ul>

<!-- End Feed Games-->

{% endblock main_feed %}