{% extends "hip_engine/profile_base.html" %}
{% load staticfiles %}

{% block profile_nav3 %}
active
{% endblock profile_nav3 %}

{% block main_feed %}

<!-- Feed = games -->

<ul class="no-bullet">
{% for tracklist in tracklist_list %}
  <li>
    {% include "hip_engine/snippet_game_mixtape.html" %}
  </li>
{% empty %}
    {% if profile_focused == request.user.get_profile %}
        <p> You have no pending games. Start a <button class="small top_bar_button" data-reveal-id="tracklistModal"> new mixtape </button> </p>
    {% else %}
        <p> {{profile_focused.user.username}} has no pending games. </p>
    {% endif %}
{% endfor %}
</ul>

<!-- End Feed Games-->

{% endblock main_feed %}