{% extends "hip_engine/profile_base.html" %}
{% load staticfiles %}

{% block profile_nav2 %}
active
{% endblock profile_nav2 %}

{% block main_feed %}

<!-- Feed = games -->

<ul class="no-bullet">
{% for tracklist in tracklist_list %}
  <li>
    {% include "hip_engine/snippet_game_mixtape.html" %}
  </li>
{% empty %}
    {% if profile_focused == request.user.get_profile %}
        <p> Your collection is empty. Like mixtapes to add them to your collection! </p>
    {% else %}
        <p> There are no mixtapes to be shown at the moment. </p>
    {% endif %}
{% endfor %}
</ul>

<!-- End Feed Games-->

{% endblock main_feed %}