{% extends "hip_engine/profile_base.html" %}
{% load staticfiles %}

{% block profile_nav3 %}
active
{% endblock profile_nav3 %}

{% block main_feed %}

<!-- Feed = games -->

<ul class="no-bullet">
{% for tracklist in tracklist_list %}
  <li>
    {% include "hip_engine/snippet_game_mixtape.html" %}
  </li>
{% empty %}
    {% if profile_focused == request.user.get_profile %}
	    <div data-alert class="alert-box secondary top_feed_alert">
	      Your collection is empty. Like mixtapes to add them to your collection!
	      <a href="#" class="close">&times;</a>
	    </div>
    {% else %}
	    <div data-alert class="alert-box secondary top_feed_alert">
	      {{profile_focused.user.username}} does not like any mixtapes. Dork.
	      <a href="#" class="close">&times;</a>
	    </div>
    {% endif %}
{% endfor %}
</ul>

<!-- End Feed Games-->

{% endblock main_feed %}