{% extends "hip_engine/profile_base.html" %}
{% load staticfiles %}

{% block profile_nav2 %}
{% endblock profile_nav2 %}

{% block main_feed %}

<p>
<form enctype="multipart/form-data" action="/profile/{{profile_focused.user.username}}/edit/" method="POST">
    {% csrf_token %}
    <fieldset>
      <legend>Edit profile picture</legend>
      {{ image_form }}
      <input type="hidden" name="form-type" value="image-form" />
      <strong> 20 Ko < size <  1 Mo </strong>
      <input type="submit" class="button postfix" value="Upload">
    </fieldset>
</form>
</p>

{% comment %}
 <p>
  <form action="/profile/{{profile_focused.user.username}}/edit/" method="POST">
  {% csrf_token %}
    <fieldset>
      <legend>Edit Username</legend>
    {% for field in username_form %}
      <div class="row">
        <div class="small-9 columns">
          <input type="text" id="right-label" value="{{request.user.username}}" placeholder="New Username">
        </div>
        <div class="small-3 columns">
          <input type="hidden" name="form-type" value="username-form" />
          <input type="submit" class="button postfix" value="Update">
        </div>
      </div>
    {% endfor %}
    </fieldset>
  </form>
</p>
{% endcomment %}

<p>
<form action="/profile/{{profile_focused.user.username}}/edit/" method="POST">
    {% csrf_token %}
    <fieldset>
      <legend>Change password</legend>
      <div class="row">
      {% for field in psw_form %}   
        {% if forloop.first %} 
          <div class="small-3 columns">
            <input type="password" id="right-label" name="{{field.name}}" value="" placeholder="Current password">
          </div>
        {% elif forloop.last %} 
          <div class="small-3 columns">
            <input type="password" id="right-label" name="{{field.name}}" value="" placeholder="New password again">
          </div>
        {% else %}
          <div class="small-3 columns">
            <input type="password" id="right-label" name="{{field.name}}" value="" placeholder="New password">
          </div>
        {% endif %}
      {% endfor %}
        <div class="small-3 columns">
          <input type="hidden" name="form-type" value="psw-form" />
          <input type="submit" class="button postfix" value="Update">
        </div>
      </div>
    </fieldset>
</form>
</p>

<p>
  <form action="/profile/{{profile_focused.user.username}}/edit/" method="POST">
  {% csrf_token %}
    <fieldset>
      <legend>Update Email</legend>
    {% for field in email_form %}
      <div class="row">
        <div class="small-9 columns">
          <input type="text" id="right-label" value="" placeholder="New Email Address">
        </div>
        <div class="small-3 columns">
          <input type="hidden" name="form-type" value="email-form" />
          <input type="submit" class="button postfix" value="Update">
        </div>
      </div>
    {% endfor %}
    </fieldset>
  </form>
</p>

<form action="/profile/{{profile_focused.user.username}}/edit/" method="POST">
    {% csrf_token %}
    <fieldset>
      <legend> E-mail notifications </legend>
      <div class="row">
        <div class="small-9 columns">
          {{ email_notif_form }}
        </div>
        <div class="small-3 columns">
          <input type="hidden" name="form-type" value="email-notif-form" />
          <input type="submit" class="button postfix" value="Update"/>
        </div>
      </div>
    </fieldset>
</form>

{% comment %}
<p>
  <form action="/profile/{{profile_focused.user.username}}/edit/" method="POST">
  {% csrf_token %}
    <fieldset>
      <legend>Email notifications</legend>
        {% for field in email_notif_form %}
          <div class="row">
            <div class="small-7 columns">
              <span class="prefix">{{ field.label }}</span>    
            </div>
            <div class="small-2 columns">
              <div class="switch round small">
                {% if field.value == "True" %}
                  <input id="x" name="switch-x" type="radio" checked>
                  <label for="x" onclick="">No</label>
                  <input id="x1" name="switch-x" type="radio">
                  <label for="x1" onclick="">Yes</label>
                {% else %}
                  <input id="x" name="switch-x" type="radio">
                  <label for="x" onclick="">No</label>
                  <input id="x1" name="switch-x" type="radio" checked>
                  <label for="x1" onclick="">Yes</label>
                {% endif %}
                <span></span>
              </div>    
            </div>
            <div class="small-3 columns">
              <input type="hidden" name="form-type" value="email-notif-form" />
              <input type="submit" class="button postfix" value="Update">
            </div> 
          </div>
        </div>
      {% endfor %}
    </fieldset>
  </form>
</p>
{% endcomment %}

{% endblock main_feed %}