{% extends "hip_engine/base.html" %}
{% load staticfiles %}

{% block feed_header %}
	<div class="small-12 columns ranking_header">
		<img src="{% static "img/icons/star_orange.png" %}" width="40px" class="ranking_header_img"/>
		<h3 class="ranking_title"> Ranking </h3>
		<h6> This is how you and the people you follow rank on hipMe. </h6>
		<h6> There are two ways to get points : when you contribute to your friends' mixtapes, and when they like your own mixtapes. Try to beat the best! </h6>
	</div>
{% endblock feed_header %}

{% block main_feed %}

<!-- Ranking -->

<ul class="no-bullet">
    {% for profile_focused in full_rankings_profile_list %}
    <li>
        {% include "hip_engine/snippet_profile.html" %}
    </li>
    {% endfor %}
</ul>

<!-- End Feed -->

{% endblock main_feed %}