{% extends "hip_engine/base.html" %}
{% load staticfiles %}

{% block feed_header %}

<h3 class="search_results_title"> Search results for '{{query_string}}' </h3>

{% endblock feed_header %}

{% block feed_nav %}

<dl class="sub-nav feed_sub_nav">
  <dd class="{% block search_nav_1 %} {% endblock search_nav_1 %}">
    <a href="/search/">
        People {% if profile_list %} ({{ profile_list|length }}) {% endif %}
    </a>
  </dd>
  <dd class="{% block search_nav_2 %} {% endblock search_nav_2 %}">
    <a href="/search/"> 
        Mixtapes {% if tracklist_list %} ({{ tracklist_list|length }}) {% endif %}
    </a>
  </dd>
</dl>

{% endblock feed_nav %}


