{% extends "hip_engine/search_base.html" %}
{% load staticfiles %}

{% block search_nav_1 %} active {% endblock search_nav_1 %}

{% block main_feed %}

<!-- Results in people -->

{% if tracklist_list %}
    <ul class="no-bullet">
        {% for tracklist in tracklist_list %}
        <li>
            {% include "hip_engine/snippet_profile.html" %}
        </li>
        {% endfor %}
    </ul>
{% else %}
<p> There are no mixtapes to be shown at the moment. </p>
{% endif %}

<!-- End Feed -->

{% endblock main_feed %}