{% load staticfiles %}

<div class="small-12 columns mini_mixtape">
  <div class="small-12 mini_mixtape_title">
    <h6> Mixtape title </h6>
  </div>
  <div class="small-12 mini_mixtape_tag_list">
    <ul class="inline-list">
      <li class="label radius tag"> Soul </li>
      <li class="label radius tag"> Funk </li>
      <li class="label radius tag"> Jazz </li>
      <li class="label radius tag"> Hip-hop </li>
    </ul>
  </div>
  <div class="small-12 mini_mixtape_user_list">
    <ul class="small-block-grid-4">
      <li>
        <img src="{% static "img/HMProfile.jpg" %}" />
      </li>
    </ul>
  </div>
  <div class="small-12 mini_mixtape_info">
    999 kept it - 999 commented
  </div>
</div>