{% load staticfiles %}

<a href="/profile/{{bundle.owner.user.username}}/">
  {% if bundle.owner.avatar %}
    <img src="adresse de l'avatar" alt="profile_top_img" class="mini_profile_avatar" />
  {% else %}
    <img src="{% static "img/default.jpg" %}" alt="profile_top_img" class="mini_profile_avatar"/>
  {% endif %}
</a>
<div class="mini_profile_right_section">
  <a href="/profile/{{bundle.owner.user.username}}/" class="mini_profile_username">
    {{ bundle.owner.user.username }}
  </a>
  <br/>
  <img src="{% static "img/icons/star_green.png" %}" width="20px" class="mini_profile_score_icon" />
  <text class="mini_profile_score">
    {{ bundle.owner.reputation }}
  </text>
</div>