{% load staticfiles %}

<a href="#">
  {% if tracklist.owner.avatar %}
    <img src="adresse de l'avatar" alt="profile_top_img" class="mini_profile_avatar" />
  {% else %}
    <img src="{% static "img/default.jpg" %}" alt="profile_top_img" class="mini_profile_avatar"/>
  {% endif %}
</a>
<div class="mini_profile_right_section">
  <a href="#" class="mini_profile_username">
    {{ tracklist.owner.user.username }}
  </a>
  <br/>
  <div class="label radius mini_profile_score ">
    {{ tracklist.owner.reputation }}
  </div>
  <div class="label radius mini_profile_scoreplus ">
    +20!
  </div>
</div>