<div id="rulesModal" class="reveal-modal medium">
  <h4> The game. </h4>
  <p>
    1. <text class="tag_howitworksgreen"> Create </text> a mixtape with a few tracks you like, taken from YouTube or SoundCloud. <br/>
    2. Ask friends to <text class="tag_howitworksgreen"> add tracks </text> to your mixtape. </br>
    3. <text class="tag_howitworksgreen">Select</text> the tracks you want to keep in your mixtape. </br>
    4. Your friends get <text class="tag_howitworksgreen"> points </text> for each track you keep. </br>
  </p>
  <h4> More specifically... </h4>
  <ul class="no-bullet">
    <li>
      <ul class="circle">
        <li> Links from SoundCloud and YouTube ONLY. </li>
        <li> Five spots for contributors. Empty spots are open to everyone. </li>
        <li> Contributors have 1 week to add tracks. </li>
        <li> 3 tracks tops each (mixtape owner and contributors). </li>
        <li> 1 kept track = 10 pts, 1 like = 3 pts. </li>
      </ul>
    </li>
  </ul>
  <a class="close-reveal-modal"> &#215; </a>
</div>