{% load staticfiles %}

<div class="row coul">
  <div class="small-6 columns">
    <a href="#">
      {% if tracklist.owner.avatar %}
        <img src="adresse de l'avatar" alt="profile_top_img" class="mini_profile_avatar" />
      {% else %}
        <img src="{% static "img/default.jpg" %}" alt="profile_top_img" class="mini_profile_avatar"/>
      {% endif %}
    </a>
  </div>
  <div class="small-6 columns score_box">
    997
  </div>
</div>
<div class="row coul">
  <div class="small-12 columns coul">
    <a href="#" class="mini_profile_username">
      {{ tracklist.owner.user.username }}
    </a>
  </div>
</div>