{% load staticfiles %}

  <div class="small-12 columns mixtape">

<!-- Mixtape header -->

    <div class="small-12 columns mixtape_header">
      <div class="small-9 columns">
        <h4> Cool summer party on the beach </h4>
        <ul class="inline-list">
          <li class="label radius tag"> Soul </li>
          <li class="label radius tag"> Funk </li>
          <li class="label radius tag"> Hip-hop </li>
        </ul>
      </div>
      <div class="small-3 columns">
        <div class="label radius right mixtape_info_time">
          22 hours left
        </div>
        <div class="label radius right mixtape_info_spots">
          1 free spot
        </div>
      </div>
    </div>

<!-- End Mixtape header -->

<!-- Mixtape tracks -->

    <div class="small-12 columns mixtape_tracklist">
      <ul class="no-bullet">
        <li>
          <div class="row">
            <div class="small-1 columns mixtape_user">
              <img src="{% static "img/HMProfile.jpg" %}"/>
            </div>
            <div class="small-2 columns mixtape_user">
              <a href="#" class="mini_profile_username">
                Simon Frr
              </a>
              <div class="label radius mixtape_score">
                99 / +20!
              </div>
            </div>
            <div class="small-9 columns">
              <ul class="no-bullet">
                <li>
                  <div class="row">
                    <div class="small-10 columns">
                      <a href="#" class="label secondary"> Track name - Artist name </a>
                    </div>
                    <div class="small-2 columns">
                      <a href="#" class="button tiny right"> Keep </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="small-1 columns mixtape_user">
              <img src="{% static "img/HMProfile.jpg" %}"/>
            </div>
            <div class="small-2 columns mixtape_user">
              <a href="#" class="mini_profile_username">
                Simon Frr
              </a>
              <div class="label radius mixtape_score">
                99 / +20!
              </div>
            </div>
            <div class="small-9 columns">
              <ul class="no-bullet">
                <li>
                  <div class="row">
                    <div class="small-10 columns">
                      <a href="#" class="label secondary"> Track name - Artist name </a>
                    </div>
                    <div class="small-2 columns">
                      <a href="#" class="button tiny right"> Keep </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="small-10 columns">
                      <a href="#" class="label secondary"> Track name - Artist name </a>
                    </div>
                    <div class="small-2 columns">
                      <a href="#" class="button tiny right"> Keep </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="small-1 columns mixtape_user">
              <img src="{% static "img/HMProfile.jpg" %}"/>
            </div>
            <div class="small-2 columns mixtape_user">
              <a href="#" class="mini_profile_username">
                Simon Frr
              </a>
              <div class="label radius mixtape_score">
                99 / +20!
              </div>
            </div>
            <div class="small-9 columns">
              <ul class="no-bullet">
                <li>
                  <div class="row">
                    <div class="small-10 columns">
                      <a href="#" class="label secondary"> Track name - Artist name </a>
                    </div>
                    <div class="small-2 columns">
                      <a href="#" class="button tiny right"> Keep </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="small-10 columns">
                      <a href="#" class="label secondary"> Track name - Artist name </a>
                    </div>
                    <div class="small-2 columns">
                      <a href="#" class="button tiny right"> Keep </a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="small-12 columns">
                      <input type="button" value="Add a track to the mixtape!" class="button small expand toggle_add_track_btn" />
                    </div>
                  </div>
                </li>
                <li>
                  <form class="mixtape_add_track_form">
                    <div class="row">
                      <div class="small-10 columns">
                        <div class="row collapse">
                          <div class="small-2 columns">
                            <span class="prefix">http://</span>
                          </div>
                          <div class="small-10 columns">
                            <input type="text" placeholder="Track URL" id="input_url"/>
                          </div>
                        </div>
                      </div>
                      <div class="small-2 columns">
                        <input type="submit" class="button small expand success add_track_btn" value="Add"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="small-5 columns">
                        <input type="text" id="right-label" placeholder="Artist (optional)" />
                      </div>
                      <div class="small-5 columns">
                        <input type="text" id="right-label" placeholder="Track (optional)" />
                      </div>
                      <div class="small-2 columns">
                        <input type="button" value="Cancel" class="button small secondary expand toggle_cancel" />
                      </div>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>

<!-- End Mixtape tracks -->

    <div class="small-3 columns mixtape_comment_zone_toggle left">
      <input type="button" value="3 comments" class="button small expand secondary toggle_comment_zone_btn" />
    </div>

<!-- Mixtape interaction -->

    <div class="small-12 columns mixtape_comment_container left">
      <ul class="no-bullet">
        <li>
          <div class="small-12 columns mixtape_comment_zone">
            <div class="small-1 columns mixtape_user">
              <img src="{% static "img/HMProfile.jpg" %}"/>
            </div>
            <div class="small-2 columns mixtape_user">
              <div>
                Simon
                999
              </div>
            </div>
            <div class="small-9 columns">
              Comment j'ai fait pour les courses ? J'ai acheté du pain
            </div>
          </div>
        </li>
        <li>
          <div class="small-12 columns mixtape_comment_zone">
            <div class="small-1 columns mixtape_user">
              <img src="{% static "img/HMProfile.jpg" %}"/>
            </div>
            <div class="small-2 columns mixtape_user">
              <div>
                Simon
                999
              </div>
            </div>
            <div class="small-9 columns">
              <div class="row">
                <form>
                  <div class="small-9 columns">
                    <input type="text" id="input_comment" placeholder="Add a comment" class="comment_form"/>
                  </div>
                  <div class="small-3 columns">
                    <button type="submit" class="radius button small comment_form"> Submit </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <hr/>
    </div>

<!-- End Mixtape interaction -->

  </div>

