{% load staticfiles %}

<div class="row">
  <div class="small-12 columns profile">
    <div class="row">
      <div class="small-2 columns">
        <a href="#"> <img src="{% static "img/HMProfile.jpg" %}" class="profile_avatar"/> </a>
      </div>
      <div class="small-10 columns">
        <div class="row">
          <div class="small-12 columns">
            <h3><a href="#" class="userprofile_name left"> {{ profile_focused.user.username }} </a></h3>
            <form action="like" method="post" class="like_btn_form">
            {% csrf_token %}
              {# If not followed #}
                {% comment %} <input type="submit" class="tiny left profile_flw_btn" value="Follow"> {% endcomment %}
              {# Else #}
                <button class="tiny secondary disabled left profile_flwd_btn"> Followed </button>
                <input type="submit" class="button tiny secondary left profile_unflw_btn" value="Unfollow">
              {# Endif #}
            </form>
          </div>
        </div>
        <h6>
          {{ profile_focused.reputation }} point{{ profile_focused.reputation|pluralize }}
          &nbsp;|&nbsp;
          {% if nb_followers == 0 %}
            no followers
          {% else %}
            <a href="/profile/{{ profile_focused.user.username }}/followers/"> {{nb_followers}} follower{{ nb_followers|pluralize }}</a>
          {% endif %}
          &nbsp;|&nbsp;
          {% if nb_following == 0 %}
            no following
          {% else %}
            <a href="/profile/{{ profile_focused.user.username }}/followers/"> {{nb_followers}} following </a>
          {% endif %}
        </h6>
        <ul class="inline-list">
          <li class="label radius tag_profile"> Soul Expert </li>
          <li class="label radius tag_profile"> Funk Emperor </li>
          <li class="label radius tag_profile"> Big-gamer </li>
          <li class="label radius tag_profile"> Starfighter </li>
        </ul>
      </div>
    </div>
  </div>
</div>