{% load staticfiles %}

<div class="row">
  <div class="small-12 columns profile">
    <div class="row">
      <div class="small-2 columns">
        <a href="#"> <img src="{% static "img/HMProfile.jpg" %}" class="profile_avatar"/> </a>
      </div>
      <div class="small-10 columns">
        <div class="row">
          <div class="small-12 columns">
            <h3><a href="#" class="userprofile_name left"> Simon Frr </a></h3>
            <button class="tiny left profile_flw_btn"> Follow </button>
            <button class="tiny secondary left profile_unflw_btn"> Unfollow </button>
          </div>
        </div>
        <h6>
          999 points | <a href="/profile/followers/"> 130 followers </a> | <a href="/profile/following/"> 234 following </a>
        </h6>
        <ul class="inline-list">
          <li class="label radius tag_profile"> Soul Expert </li>
          <li class="label radius tag_profile"> Funk Emperor </li>
          <li class="label radius tag_profile"> Big-gamer </li>
          <li class="label radius tag_profile"> Starfighter </li>
        </ul>
      </div>
    </div>
  </div>
</div>