{% load staticfiles %}

<div class="row">
  <div class="small-12 columns profile">
    <div class="row">
      <div class="small-2 columns">
        <a href="#"> <img src="{% static "img/HMProfile.jpg" %}" class="profile_avatar"/> </a>
      </div>
      <div class="small-5 columns">
        <h4><a href="#" class="userprofile_name"> Simon Frr </a></h4>
        <ul class="inline-list">
          <li class="label radius tag"> Soul Expert </li>
          <li class="label radius tag"> Funk Emperor </li>
          <li class="label radius tag"> Funk Emperor </li>
          <li class="label radius tag"> Funk Emperor </li>
          <li class="label radius tag"> Funk Emperor </li>
        </ul>
      </div>
      <div class="small-3 columns">
        <ul class="no-bullet">
          <li class="label radius tag label_link"><a href="#"> 999 points </a></li>
          <li class="label radius tag label_link"><a href="#"> 130 followers </a></li>
          <li class="label radius tag label_link"><a href="#"> Follows 234 </a></li>
          <li class="button tiny label_link"><a href="#"> See stats & ranking </a></li>
        </ul>
      </div>
      <div class="small-2 columns">
        <a href="#" class="button expand"> Follow </a>
        <a href="/listen/" class="button expand success"> My music </a>
      </div>
    </div>
  </div>
</div>
</hr>