{% load staticfiles %}

<a href="/profile/{{profile.user.username}}/">
  {% if profile.avatar %}
    <img src="{{MEDIA_URL}}{{ profile.avatar.name }}" alt="profile_top_img" class="mini_profile_avatar"/>
  {% else %}
    <img src="{{MEDIA_URL}}profile_pics/default.jpg" alt="profile_top_img" class="mini_profile_avatar"/>
  {% endif %}
</a>
<div class="mini_profile_right_section">
  <a href="/profile/{{profile.user.username}}/" class="mini_profile_username">
    {{ profile.user.username }} 
  </a>
  <br/>
  <img src="{% static "img/icons/star_green.png" %}" width="20px" class="mini_profile_score_icon" />
  <text class="mini_profile_score">
    {{ profile.reputation }}
  </text>
</div>