<div id="rulesModal" class="reveal-modal medium">
  <h4> These are the rules... Abide! </h4>
  <h6> Create a mixtape. </h6>
  <ul class="no-bullet">
    <li>
      <ul class="circle">
        <li> You can put up to 3 tracks in your mixtape. </li>
        <li> Take them from YouTube or SoundCloud. Other sources won't work with the player. </li>
        <li> Choose the contributors you want among the people you follow. </li>
        <li> There are five spots for contributors. If you don't fill them all, anyone will be able to jump in one of the remaining spots and give you songs. </li>
      </ul>
    </li>
  </ul>
  <h6> Let your contributors propose songs. </h6>
  <ul class="no-bullet">
    <li>
      <ul class="circle">
        <li> Your friends must add their tracks within 3 days. </li>
        <li> They can add up to 3 tracks each. </li>
      </ul>
    </li>
  </ul>
  <h6> Refine the selection </h6>
  <ul class="no-bullet">
    <li>
      <ul class="circle">
        <li> During and after these 3 days, you can select the tracks you want to keep in your mixtape (by default, they'll be kept). </li>
        <li> When you're done, close the mixtape. </li>
        <li> Each track you keep gets points to the contributor. </li>
      </ul>
    </li>
  </ul>
  <h6> Contribute to your friends' mixtapes </h6>
  <p> Whether you were called or you're jumping in a free spot, try to get points by proposing the right tunes to your friends! Be the best at recommending music! </p>
  <a class="close-reveal-modal"> &#215; </a>
</div>