{% load staticfiles %}
{% load hip_extras %}

<div class="small-12 columns mixtape
{% if tracklist.is_finished %}
  top_line_grey
{% else %}
  {% if tracklist.owner == request.user.get_profile %}
    top_line_yellow
  {% else %}
    {% if tracklist.is_time_out %}
      top_line_grey
    {% else %}
      {% if request.user.get_profile in tracklist.userto.all %}
        top_line_yellow
      {% else %}
        top_line_green
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %} ">

  <form action="/mixtape/{{tracklist.id}}/edit/" method="POST" class="mixtape_edit_form">
  {% csrf_token %}
    <div class="row">
      <div class="small-12 columns">
        <span class="mixtape_info mixtape_edit_info">
          edit the title
        </span>
      </div>
      <div class="small-12 columns mixtape_edit_input">
        <input type="text" name="title" id="edit_title" placeholder="Title - max 50 characters" maxlength="50" value="{{tracklist.title}}">
      </div>
      <div class="small-12 columns">
        <span class="mixtape_info mixtape_edit_info">
          edit the tags
        </span>
      </div>
      <div class="small-12 columns mixtape_edit_input">
        <input type="text" name="tags" id="create_tags" placeholder='Tags - separated by commas. ex: "Summer House, Poney Jazz"' maxlength="80", value="{{ tracklist|string_tag }}">
      </div>
      <div class="small-12 columns">
        <span class="mixtape_info mixtape_edit_info">
          edit the tracks you added
        </span>
      </div>
      <div class="small-12 columns mixtape_edit_input">
        <div class="row">
          {% for track in tracklist.tracks_initial.all %}
            {% with track_index=forloop.counter|stringformat:"s" %}
              <div class="columns small-3">
                <input type="text" id="{{ "edit_track_"|add:track_index }}" name="{{ "artist_"|add:track_index }}" placeholder="Artist (opt.)" value="{{ track.artist }}">
              </div>
              <div class="columns small-3">
                <input type="text" id="{{ "edit_track_"|add:track_index }}" name="{{ "name_"|add:track_index }}" placeholder="Track title (opt.)" value="{{track.name}}">
              </div>
              <div class="columns small-6">
                <input type="text" id="{{ "edit_track_"|add:track_index }}" name="{{ "url_"|add:track_index }}" placeholder="Track title (opt.)" value="{{track.url}}">
              </div>
            {% endwith %}
          {% endfor %}
          <div class="small-12 columns mixtape_edit_italic">
            {% if not tracklist.tracks_initial.all|length_is:"3" %}
              To add more tracks to your mixtape, use the normal mixtape view.
            {% endif %}
          </div>
        </div>
      </div>
      <div class="small-12 columns mixtape_edit_save_btn">
        <input type="submit" class="button expand" value="Save your changes">
      </div>
    </div>
  </form>
</div>