{% load staticfiles %}

<div class="row track_container {% if forloop.last %} track_container_no_border-bottom {% endif %}">
  {% if request.user.get_profile == tracklist.owner %}
    <div class="small-10 columns track">
      <a>
        <img src="{% static "img/icons/play_round_green.png" %}" width="20px" class="track_play_btn"/>
        <img src="{% static "img/icons/pause_round_green.png" %}" width="20px" class="track_pause_btn"/>
      </a>
      <a href="{{ track.url }}" target="_blank" class="track_text">
        {% if track.name and track.artist %}
          {{ track.artist }} - {{ track.name }}
        {% elif track.name %}
          Unknown artist - {{ track.name }}
        {% elif track.artist %}
          {{ track.artist }} - Unknown title
        {% else %}
          {{ track.url }}
        {% endif%}
      </a>
    </div>
    <div class="small-2 columns">
      <form action="/mixtape/{{tracklist.id}}/bundle/{{bundle.id}}/track/{{track.id}}/keep/" method="post" class="select_track_form">
        <input name="next" type="hidden" value="{{request.path}}"/>
        {% if track in Tracklist.tracks_kept %}
          <input type="submit" class="tiny button right keep_track_btn" value="Keep">
        {% else %}
          <input type="submit" class="tiny button right success kept_track_btn" value="Kept">
          <input type="submit" class="tiny button right alert unkeep_track_btn" value="Unkeep">
        {% endif %}
      </form>
    </div>
  {% else %}
  <div class="small-12 columns track">
      <a>
        <img src="{% static "img/icons/play_round_green.png" %}" width="20px" class="track_play_btn"/>
        <img src="{% static "img/icons/pause_round_green.png" %}" width="20px" class="track_pause_btn"/>
      </a>
      <a href="{{ track.url }}" target="_blank" class="track_text">
        {% if track.name and track.artist %}
          {{ track.artist }} - {{ track.name }}
        {% elif track.name %}
          Unknown artist - {{ track.name }}
        {% elif track.artist %}
          {{ track.artist }} - Unknown title
        {% else %}
          {{ track.url }}
        {% endif%}
      </a>
  </div>
  {% endif %}
</div>