<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> Forms </title>

  <!-- Included CSS Files -->

  {% load staticfiles %}

  <link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_general.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_mixtape.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_mixtape_form.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_left_nav.css" %}"/>
  <link rel="stylesheet" href="{% static "css/add_landing.css" %}"/>

  <link rel="stylesheet" href="{% static "css/chosen.css" %}"/>

  <script type="text/javascript" src="{% static "js/vendor/custom.modernizr.js" %}"></script>

</head>

<body>

<select data-placeholder="Choose a Country..." multiple class="chzn-select" style="width:350px;">
  <option value="1">test</option>
  <option value="2">coucou</option>
</select>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="{% static "js/chosen.jquery.js" %}"  type="text/javascript"></script>
  <script>
  document.write('<script src={% static "js/vendor/" %}' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="{% static "js/foundation.min.js" %}"></script>
  <script>
    $(document).foundation();
    $(".chzn-select").chosen()
  </script>

</body>

