<!DOCTYPE html>
{% load analytics %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title> hipme </title>
  <link rel="shortcut icon" type="image/jpg" href="{% static "img/hipme-favicon-16.jpg"}" />

</head>

<body>
  <h1> 404 - Dammit! You broke hipme.fm! </h1>
  <h3> This URL does not exist. Please try again what you were doing. If it breaks the interwebs again, please let us know. </h3>
  <h3><i> -- The hipmasters </i></h3>
</body>