<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{MEDIA_URL}}css/hipme_header.css" />
        <link rel="stylesheet" href="{{MEDIA_URL}}css/hipme_all.css" />
        <link rel="stylesheet" href="{{MEDIA_URL}}css/hipme_coming_soon.css" />
        <title> HipMe - Swap, Rate, Discover Tunes. </title>
    </head>

    <body>
        <div id="page">
            <header>
                <div id="banner_logo" class="banner_button">
                    <a href="/home/">
                        <img src="{{MEDIA_URL}}img/banner_logo.png" alt="banner_logo" class="banner_img"/>
                    </a>
                </div>
            </header>
            <div class="error_img">
                <img src="{{MEDIA_URL}}img/500.png" width="30%" alt="404"/>
            </div>
        </div>
    </body>
</html>